{% extends 'layouts/interior.html' %}
{% load static %}
{% block otherstyles %}

{% endblock %}

{% block wrapper %}
    <div class="content-wrap">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <p class="text-justify">En 2015, la Organización de las Naciones Unidas (ONU) aprobó la Agenda
                        2030 sobre el Desarrollo Sostenible, la cual cuenta con 17 Objetivos de Desarrollo Sostenible
                        (ODS) enfocados erradicar la pobreza, proteger el planeta y asegurar la prosperidad para todos.
                        En Fibra Inn identificamos los ODS que se alinean a nuestros temas materiales y a los cuales
                        contribuimos mediante la gestión e iniciativas de la organización.</p>

                    <p class="text-justify">Con base en el análisis de materialidad que se llevó a cabo durante 2020,
                        se pudo identificar que los ODSs que se alinean a los temas materiales de Fibra Inn son el
                        4, 5, 6, 7, 8, 9, 10, 11, 12, 13 y 16.</p>
                    <img class="img-fluid" src="{% static 'images/ODS.png' %}" alt="">
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block otherscripts %}
{% endblock %}
