{% extends 'layouts/interior.html' %}
{% load static %}

{% block otherstyles %}
    <link rel="stylesheet" href="{% static 'stylesheets/david.css' %}">
    <link rel="stylesheet" href="{% static 'stylesheets/tania.css' %}">
    <link rel="stylesheet" href="{% static 'stylesheets/swiper.min.css' %}">
    <link rel="stylesheet" href="{% static 'stylesheets/timeline.css' %}">
    <link rel="stylesheet" href="{% static 'stylesheets/css/rs-plugin/settings.css' %}">
    <link rel="stylesheet" href="{% static 'stylesheets/css/rs-plugin/layers.css' %}">
    <link rel="stylesheet" href="{% static 'stylesheets/css/rs-plugin/navigation.css' %}">

    <style>
        
        #cadena button {
            transition: all 0.4s ease;
        }
        #cadena button:hover {
            transform: scale(1.15);
            z-index: 999;
        }
        .table td {
            border-top: none;
            padding: 5px;
        }
        :root {
            --cyan: #18C9C9;
            --blue: #2142D0;
            --purple: #A272FF;
            --pink: #CA0995;
            --orange: #FF5D23;
        }
        button.draw h3 {
            color: #69A64D;
            font-size: 20px;
        }
        button.draw p {
            font-size: 30px;
            font-weight: bold;
        }
        button.draw img {
            max-width: 100px;
        }
        button {
            background: none;
            border: 0;
            box-sizing: border-box;
            margin: 1em;
            padding: 1em 2em;
            box-shadow: inset 0 0 0 2px transparent;
            font-size: inherit;
            font-weight: 700;
            position: relative;
            vertical-align: middle;
            cursor: default;
        }
        button:not(:disabled) {
            cursor: default;
        }
        button::before, button::after {
            box-sizing: inherit;
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            border-radius: 10px;
        }
        .draw {
            transition: color 0.25s;
        }
        .draw::before, .draw::after {
            border: 5px solid transparent;
            width: 0;
            height: 0;
        }
        .draw::before {
            top: 0;
            left: 0;
          }
          
          .draw::after {
            bottom: 0;
            right: 0;
          }
          
          .draw.animation-trigger::before,
          .draw.animation-trigger::after {
            width: 100%;
            height: 100%;
          }
          
          .draw-cyan.animation-trigger::before {
            border-top-color: var(--cyan);
            border-right-color: var(--cyan);
            transition:
              width 0.25s ease-out,
              height 0.25s ease-out 0.25s;
          }
          
          .draw-cyan.animation-trigger::after {
            border-bottom-color: var(--cyan);
            border-left-color: var(--cyan);
            transition:
              border-color 0s ease-out 0.5s,
              width 0.25s ease-out 0.5s,
              height 0.25s ease-out 0.75s;
          }

          .draw-blue.animation-trigger::before {
            border-top-color: var(--blue);
            border-right-color: var(--blue);
            transition:
              width 0.25s ease-out,
              height 0.25s ease-out 0.25s;
          }
          
          .draw-blue.animation-trigger::after {
            border-bottom-color: var(--blue);
            border-left-color: var(--blue);
            transition:
              border-color 0s ease-out 0.5s,
              width 0.25s ease-out 0.5s,
              height 0.25s ease-out 0.75s;
          }

          .draw-purple.animation-trigger::before {
            border-top-color: var(--purple);
            border-right-color: var(--purple);
            transition:
              width 0.25s ease-out,
              height 0.25s ease-out 0.25s;
          }
          
          .draw-purple.animation-trigger::after {
            border-bottom-color: var(--purple);
            border-left-color: var(--purple);
            transition:
              border-color 0s ease-out 0.5s,
              width 0.25s ease-out 0.5s,
              height 0.25s ease-out 0.75s;
          }

          .draw-pink.animation-trigger::before {
            border-top-color: var(--pink);
            border-right-color: var(--pink);
            transition:
              width 0.25s ease-out,
              height 0.25s ease-out 0.25s;
          }
          
          .draw-pink.animation-trigger::after {
            border-bottom-color: var(--pink);
            border-left-color: var(--pink);
            transition:
              border-color 0s ease-out 0.5s,
              width 0.25s ease-out 0.5s,
              height 0.25s ease-out 0.75s;
          }

          .draw-orange.animation-trigger::before {
            border-top-color: var(--orange);
            border-right-color: var(--orange);
            transition:
              width 0.25s ease-out,
              height 0.25s ease-out 0.25s;
          }
          
          .draw-orange.animation-trigger::after {
            border-bottom-color: var(--orange);
            border-left-color: var(--orange);
            transition:
              border-color 0s ease-out 0.5s,
              width 0.25s ease-out 0.5s,
              height 0.25s ease-out 0.75s;
          }
          
          .draw-green.animation-trigger::before {
            border-top-color: var(--green);
            border-right-color: var(--green);
            transition:
              width 0.25s ease-out,
              height 0.25s ease-out 0.25s;
          }
          
          .draw-green.animation-trigger::after {
            border-bottom-color: var(--green);
            border-left-color: var(--green);
            transition:
              border-color 0s ease-out 0.5s,
              width 0.25s ease-out 0.5s,
              height 0.25s ease-out 0.75s;
          }

        .p-0 {
            padding: 0 !important;
        }

        .container-time {
            position: relative;
        }

        .fixed-title {
            position: absolute;
            top: 0;
            left: 15px;
            z-index: 10;
        }

        h3 .text-center {
            margin-bottom: .5rem;
            font-family: inherit;
            font-weight: 500;
            line-height: 1.2;
            color: inherit;
        }

        .card {
            position: relative;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-direction: column;
            flex-direction: column;
            min-width: 0;
            word-wrap: break-word;
            background-color: #fff;
            background-clip: border-box;
            border: 1px solid rgba(0, 0, 0, .125);
            border-radius: .25rem;
        }

        .boton {
            color: #0b0b0b;
            background-color: #D1D1D1;
            border-color: #D1D1D1;
        }
        .boton:hover {
            color: #ffffff;
            background-color: #232323;
            border-color: #232323;
        }
        img {
            max-width: 100%;
            border-style: none;
        }

        img, svg {
            vertical-align: middle;
        }
        
        .card-title {
            margin-bottom: .75rem;
        }

        #consec .cards:hover {
            -webkit-transform: translateY(-10px);
            -ms-transform: translateY(-10px);
            transform: translateY(-10px);
            background-color: #79B928;
        }

        #consec .cards {
            -webkit-transition: 0.1s ease-in;
            -o-transition: 0.1s ease-in;
            transition: 0.1s ease-in;
        }

        {#HISTORIA#}
        .honeycomb-wrapper .tile .honeycomb {
            height: 150px;
        }

        .honeycomb-wrapper .count {
            background-color: transparent;
        }

        {#AGUAS#}
        .downloadv2 {
            background-position: center;
            background-size: cover;
            min-height: 400px;
            width: 100%;
            padding: 30px;
        }
        .border-radius-30 {
            border-radius: 30px;
        }
        .texto-animacion {
            text-align: center;
            color: white;
            margin: 0;
        }
        .item-hover .img-bg {
            transition: all 1s ease-out;
        }

        .item-hover .show-desc {
            -webkit-transition: opacity 0.5s ease;
            opacity: 0;
            height: 0;
            overflow: hidden;
            padding-top: 0;
            min-height: unset;

        }

        .item-hover .show-desc img {
            width: 30%;
        }

        .item-hover:hover .show-desc {
            opacity: 1;
            height: auto;
            padding-top: 0px;
            min-height: 150px;

        }
        .item-hover:hover .img-bg {
            opacity: 0;
            display: block;
            height: 0;
            width: 0;
            padding: 0;
            min-height: unset;

        }
        .icon_container {
            background-position: top center;
            background-size: 10rem;
            min-height: 150px;
            background-repeat: no-repeat;
            padding-top: 120px;

        }
        .icon_container h4 {
            padding-top: 4rem;
        }

        {#QUIENES SOMOS?#}

        .square1 {
            background-image: url({% static 'images/ambiental/hectareas_reforestadas.jpg' %});
            background-size: cover;
            background-repeat: no-repeat;
        }
        .square2 {
            background-image: url({% static 'images/ambiental/liberacion_tortugas.jpg' %});
            background-size: cover;
            background-repeat: no-repeat;
        }
        .square4 {
            background-image: url({% static 'images/ambiental/reproduccion_especies.jpg' %});
            background-size: cover;
            background-repeat: no-repeat;
        }
        .item-content {
            position: absolute;
            top: 10%;
            left: 10%;
            width: 80%;
            height: 80%;
            background-color: rgba(0, 0, 0, 0.6);
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            color: white;
            text-align: center;
            opacity: 0;
            transition: opacity 0.5s ease-out;
            border-radius: 8px;
        }

        .square1, .square2, .square4 {
            position: relative;
            width: 100%;
            overflow: hidden;
            aspect-ratio: 1 / 1;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            background-size: cover;
            background-position: center;
            padding: 20px;
            max-height: 235.5px;
        }

        .square1:hover .item-content,
        .square2:hover .item-content,
        .square4:hover .item-content {
            opacity: 1;
        }
        .timeline-year {
            font-size: 40px;
            text-align: center;
            line-height: 1.2; /* Ajusta la separación de líneas */
        }
        .swiper-slide-content {
            position: relative;
            color: white;
            padding: 20px;
            text-align: center;
        }
         #cifras_relevantes_energia .honeycomb-wrapper .tile .honeycomb .honeycomb-path circle {
            stroke: #56AD71 !important;
        }
         h1{
             font-weight: 600!important;
         }

    </style>
{% endblock %}

{% block wrapper %}
<div class="content-wrap">
    <div class="container">
      <div class="ig-split">
        <div id="gestion_ambiental" class="wow fadeInUp ig-split__text" data-wow-duration="1s">
            <h1 class="text-center pt-5 mb-5" style="color: #2B2B2B;">Desempeño Energético</h1>
            <p class="text-justify" data-wow-duration="1s">
                En Industrial Gate implementamos estrategias enfocadas en optimizar el uso de energía en nuestras operaciones, priorizando la eficiencia y la adopción de tecnologías que reduzcan nuestro consumo y las emisiones asociadas.
            </p>
            <p class="text-justify" data-wow-duration="1s">
                Nuestros desarrollos incorporan sistemas de iluminación LED de alta eficiencia, equipos con bajo consumo energético y soluciones de automatización que permiten un control más preciso de los recursos.
            </p>
            <p class="text-justify" data-wow-duration="1s">
                Asimismo, realizamos un seguimiento continuo de los indicadores clave de desempeño energético (KPIs), lo que nos permite identificar áreas de mejora, reducir costos operativos y minimizar nuestra huella ambiental, en línea con los criterios establecidos por certificaciones como EDGE y LEED.
            </p>
            <p class="text-justify" data-wow-duration="1s">
                <em>El crecimiento del consumo a lo largo del 2025 refleja principalmente la incorporación de nuevas naves industriales al portafolio y la mayor actividad de nuestros inquilinos, de forma destacada en los sectores automotriz y de electrónica, y no una menor eficiencia.</em>
            </p>
        </div>
        <div class="ig-band ig-split__chart">
            <div class="ig-per">
                <div class="ig-per__set" role="tablist" aria-label="Periodicidad del consumo energético">
                    <button type="button" class="ig-per__btn" role="tab" id="tab-energia-anual" aria-controls="panel-energia-anual" aria-selected="true">Anual</button>
                    <button type="button" class="ig-per__btn" role="tab" id="tab-energia-trim" aria-controls="panel-energia-trim" aria-selected="false" tabindex="-1">Trimestral</button>
                </div>
            </div>
            <div id="panel-energia-anual" role="tabpanel" aria-labelledby="tab-energia-anual" tabindex="0">
                <div class="ig-chart-head text-center"><p class="ig-chart-title">Consumo energético <small>MWh · 2023–2025</small></p></div>
                <div class="ig-chart">
                    <div class="ig-bar ig-bar--y23"><div class="ig-bar__val">2,465</div><div class="ig-bar__track"><div class="ig-bar__col" style="height:6.7%"></div></div><div class="ig-bar__yr">2023</div></div>
                    <div class="ig-bar ig-bar--y24"><div class="ig-bar__val">21,412</div><div class="ig-bar__track"><div class="ig-bar__col" style="height:58.4%"></div></div><div class="ig-bar__yr">2024</div></div>
                    <div class="ig-bar ig-bar--y25"><div class="ig-bar__val">36,691</div><div class="ig-bar__track"><div class="ig-bar__col" style="height:100%"></div></div><div class="ig-bar__yr">2025</div></div>
                </div>
            </div>
            <div id="panel-energia-trim" role="tabpanel" aria-labelledby="tab-energia-trim" tabindex="0" hidden>
                <div class="ig-chart-head text-center"><p class="ig-chart-title">Consumo energético <small>MWh · por trimestre 2026</small></p></div>
                <div class="ig-chart ig-chart--q">
                    <div class="ig-bar ig-bar--q"><div class="ig-bar__val">13,749</div><div class="ig-bar__track"><div class="ig-bar__col" style="height:100%"></div></div><div class="ig-bar__yr">1T</div></div>
                    <div class="ig-bar ig-bar--qpend"><div class="ig-bar__val">—</div><div class="ig-bar__track"><div class="ig-bar__col"></div></div><div class="ig-bar__yr">2T</div></div>
                    <div class="ig-bar ig-bar--qpend"><div class="ig-bar__val">—</div><div class="ig-bar__track"><div class="ig-bar__col"></div></div><div class="ig-bar__yr">3T</div></div>
                    <div class="ig-bar ig-bar--qpend"><div class="ig-bar__val">—</div><div class="ig-bar__track"><div class="ig-bar__col"></div></div><div class="ig-bar__yr">4T</div></div>
                </div>
            </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="ig-split ig-split--rev">
        <div id="gestion_ambiental" class="wow fadeInUp ig-split__text" data-wow-duration="1s">
            <h1 class="text-center pt-5 mb-5" style="color: #2B2B2B;">Desempeño Hídrico</h1>
            <p class="text-justify" data-wow-duration="1s">
                Conscientes de la importancia del agua como recurso esencial, hemos adoptado medidas para gestionar de forma responsable su consumo en nuestras instalaciones.
                        </p>
            <p class="text-justify" data-wow-duration="1s">
                En nuestros desarrollos industriales incorporamos sistemas de captación y aprovechamiento de agua pluvial, accesorios ahorradores y tecnologías que permiten la reutilización del recurso para riego y otros usos no potables.
            </p>
            <p class="text-justify" data-wow-duration="1s">
                El monitoreo periódico de nuestros consumos nos ayuda a implementar mejoras continuas, garantizando que nuestras operaciones mantengan un balance hídrico responsable y contribuyan al Objetivo de Desarrollo Sostenible 6 (agua limpia y saneamiento).
            </p>
            <p class="text-justify" data-wow-duration="1s">
                <em>El aumento en el consumo a lo largo del 2025 responde al crecimiento del portafolio y de las operaciones de nuestros inquilinos, así como a un mayor requerimiento de agua para el cuidado de áreas verdes y el confort en las propiedades.</em>
            </p>
        </div>
        <div class="ig-band ig-split__chart">
            <div class="ig-per">
                <div class="ig-per__set" role="tablist" aria-label="Periodicidad del consumo hídrico">
                    <button type="button" class="ig-per__btn" role="tab" id="tab-agua-anual" aria-controls="panel-agua-anual" aria-selected="true">Anual</button>
                    <button type="button" class="ig-per__btn" role="tab" id="tab-agua-trim" aria-controls="panel-agua-trim" aria-selected="false" tabindex="-1">Trimestral</button>
                </div>
            </div>
            <div id="panel-agua-anual" role="tabpanel" aria-labelledby="tab-agua-anual" tabindex="0">
                <div class="ig-chart-head text-center"><p class="ig-chart-title">Consumo hídrico <small>m³ · 2023–2025</small></p></div>
                <div class="ig-chart">
                    <div class="ig-bar ig-bar--y23"><div class="ig-bar__val">2,942</div><div class="ig-bar__track"><div class="ig-bar__col" style="height:2.5%"></div></div><div class="ig-bar__yr">2023</div></div>
                    <div class="ig-bar ig-bar--y24"><div class="ig-bar__val">34,807</div><div class="ig-bar__track"><div class="ig-bar__col" style="height:29.3%"></div></div><div class="ig-bar__yr">2024</div></div>
                    <div class="ig-bar ig-bar--y25"><div class="ig-bar__val">118,750</div><div class="ig-bar__track"><div class="ig-bar__col" style="height:100%"></div></div><div class="ig-bar__yr">2025</div></div>
                </div>
            </div>
            <div id="panel-agua-trim" role="tabpanel" aria-labelledby="tab-agua-trim" tabindex="0" hidden>
                <div class="ig-chart-head text-center"><p class="ig-chart-title">Consumo hídrico <small>m³ · por trimestre 2026</small></p></div>
                <div class="ig-chart ig-chart--q">
                    <div class="ig-bar ig-bar--q"><div class="ig-bar__val">33,741</div><div class="ig-bar__track"><div class="ig-bar__col" style="height:100%"></div></div><div class="ig-bar__yr">1T</div></div>
                    <div class="ig-bar ig-bar--qpend"><div class="ig-bar__val">—</div><div class="ig-bar__track"><div class="ig-bar__col"></div></div><div class="ig-bar__yr">2T</div></div>
                    <div class="ig-bar ig-bar--qpend"><div class="ig-bar__val">—</div><div class="ig-bar__track"><div class="ig-bar__col"></div></div><div class="ig-bar__yr">3T</div></div>
                    <div class="ig-bar ig-bar--qpend"><div class="ig-bar__val">—</div><div class="ig-bar__track"><div class="ig-bar__col"></div></div><div class="ig-bar__yr">4T</div></div>
                </div>
            </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="ig-split">
        <div id="residuos" class="wow fadeInUp ig-split__text" data-wow-duration="1s">
            <h1 class="text-center mt-5 mb-5" style="color: #2B2B2B;">Residuos</h1>
            <p class="text-justify wow fadeInUp" data-wow-duration="1s">
                Durante 2025 avanzamos en la medición y trazabilidad de los residuos generados en nuestra operación, lo que nos permite contar con un mayor nivel de detalle sobre su composición y disposición. Los residuos permanecieron en almacenamiento temporal <strong>5 días en promedio</strong> antes de su disposición final.
            </p>
        </div>
        <div class="ig-band ig-split__chart">
            <div class="ig-kpis" style="margin:0 0 32px">
                <div class="ig-kpi"><div class="ig-kpi__num is-navy">189,198</div><div class="ig-kpi__lbl">kg de residuos generados en 2025</div></div>
                <div class="ig-kpi"><div class="ig-kpi__num">105</div><div class="ig-kpi__lbl">kg de residuos orgánicos reciclables</div></div>
            </div>
            <div class="ig-chart-head text-center"><p class="ig-chart-title">Residuos inorgánicos por material <small>(kg · 2025)</small></p></div>
            <div class="ig-chart">
                <div class="ig-bar ig-bar--y25"><div class="ig-bar__val">81,211</div><div class="ig-bar__track"><div class="ig-bar__col" style="height:100%"></div></div><div class="ig-bar__yr">Papel</div></div>
                <div class="ig-bar ig-bar--y23"><div class="ig-bar__val">67,053</div><div class="ig-bar__track"><div class="ig-bar__col" style="height:82.6%"></div></div><div class="ig-bar__yr">Plástico</div></div>
                <div class="ig-bar ig-bar--y24"><div class="ig-bar__val">40,830</div><div class="ig-bar__track"><div class="ig-bar__col" style="height:50.3%"></div></div><div class="ig-bar__yr">Metal</div></div>
            </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="ig-split ig-split--emis">
        <div class="ig-band ig-split__chart">
            <div class="ig-kpis" style="margin:0 0 32px">
                <div class="ig-kpi"><div class="ig-kpi__num is-navy">17,523</div><div class="ig-kpi__lbl">tCO₂e totales en 2025 (Alcances 2 y 3)</div></div>
                <div class="ig-kpi"><div class="ig-kpi__num">1,216</div><div class="ig-kpi__lbl">tCO₂e de Alcance 2</div></div>
                <div class="ig-kpi"><div class="ig-kpi__num">16,307</div><div class="ig-kpi__lbl">tCO₂e de Alcance 3</div></div>
            </div>
            <div class="ig-charts-grid">
                <div>
                    <div class="ig-chart-head text-center"><p class="ig-chart-title">Alcance 2 <small>(tCO₂e)</small></p></div>
                    <div class="ig-chart">
                        <div class="ig-bar ig-bar--y23"><div class="ig-bar__val">697</div><div class="ig-bar__track"><div class="ig-bar__col" style="height:57.3%"></div></div><div class="ig-bar__yr">2023</div></div>
                        <div class="ig-bar ig-bar--y24"><div class="ig-bar__val">1,081</div><div class="ig-bar__track"><div class="ig-bar__col" style="height:88.9%"></div></div><div class="ig-bar__yr">2024</div></div>
                        <div class="ig-bar ig-bar--y25"><div class="ig-bar__val">1,216</div><div class="ig-bar__track"><div class="ig-bar__col" style="height:100%"></div></div><div class="ig-bar__yr">2025</div></div>
                    </div>
                </div>
                <div>
                    <div class="ig-chart-head text-center"><p class="ig-chart-title">Alcance 3 <small>(tCO₂e)</small></p></div>
                    <div class="ig-chart">
                        <div class="ig-bar ig-bar--y23"><div class="ig-bar__val">282</div><div class="ig-bar__track"><div class="ig-bar__col" style="height:1.7%"></div></div><div class="ig-bar__yr">2023</div></div>
                        <div class="ig-bar ig-bar--y24"><div class="ig-bar__val">7,384</div><div class="ig-bar__track"><div class="ig-bar__col" style="height:45.3%"></div></div><div class="ig-bar__yr">2024</div></div>
                        <div class="ig-bar ig-bar--y25"><div class="ig-bar__val">16,307</div><div class="ig-bar__track"><div class="ig-bar__col" style="height:100%"></div></div><div class="ig-bar__yr">2025</div></div>
                    </div>
                </div>
            </div>
        </div>
        <div id="gestion_ambiental" class="wow fadeInUp ig-split__text" data-wow-duration="1s">
            <h1 class="text-center pt-5 mb-5" style="color: #2B2B2B;">Emisiones</h1>
            <p class="text-justify" data-wow-duration="1s">
                En Industrial Gate medimos de forma periódica nuestra huella de carbono, considerando los alcances 2 y 3, con el objetivo de establecer metas claras de reducción y adoptar medidas concretas para cumplirlas.
            </p>
            <p class="text-justify" data-wow-duration="1s">
                Entre nuestras acciones destacan la incorporación de criterios de eficiencia desde las etapas de diseño, desarrollo y operación, y la adopción de estándares de edificación sostenible como LEED y EDGE, que contribuyen a reducir el consumo energético de los activos. Asimismo, fortalecemos la medición y trazabilidad de nuestras emisiones para ampliar la cobertura y precisión de la información.
            </p>
            <p class="text-justify" data-wow-duration="1s">
                Con estas acciones, avanzamos hacia operaciones más limpias y alineadas con los compromisos globales de mitigación del cambio climático.
            </p>
        </div>
      </div>
    </div>
    
{% endblock %}

{% block otherscripts %}
    <script src="{% static 'javascripts/swiper.min.js' %}"></script>
    <script src="{% static 'javascripts/wow.min.js' %}"></script>
    <script src="{% static 'javascripts/jquery.waypoints.min.js' %}"></script>
    <script src="{% static 'javascripts/countTo.js' %}"></script>
    <script src="{% static 'javascripts/carousel.eventos.js' %}"></script>

    
    <script>
        $(document).ready(function () {
             if ($('.timeline .swiper-container').length) { var timelineSwiper = new Swiper('.timeline .swiper-container', {
                direction: 'vertical',
                loop: false,
                speed: 1600,
                pagination: '.swiper-pagination',
                paginationBulletRender: function (swiper, index, className) {
                    var year = document.querySelectorAll('.swiper-slide')[index].getAttribute('data-year');
                    return '<span class="' + className + '">' + year + '</span>';
                },
                paginationClickable: true,
                nextButton: '.swiper-button-next',
                prevButton: '.swiper-button-prev',
                breakpoints: {
                    768: {
                        direction: 'horizontal',
                    }
                }
            }); }

             function numberWithCommas(x) {
                return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
            }
        
            // Initialize counters with waypoints
            $('.finn-counto .count').each(function() {
                var $this = $(this);
                var $button = $this.closest('button');
        
                // Start the honeycomb animation by adding a class to the SVG element
                var animateHoneycomb = function($element) {
                    $element.closest('.honeycomb').find('svg.honeycomb-path').addClass('honeycomb-animated');
                };
        
                $this.waypoint(function() {
                    // Delay the counting to ensure it's visible
                    setTimeout(function(){
                        // Trigger the honeycomb animation
                        animateHoneycomb($this);
                        $button.addClass('animation-trigger');
        
                        $this.countTo({
                            from: 0,
                            to: $this.data('to'),
                            speed: $this.data('speed'),
                            decimals: $this.data('decimals'),
                            onUpdate: function(value) {
                              var prefix = $this.data('prefix') ? $this.data('prefix') + ' ' : '';
                              var isPercent = $this.data('porcent') === true || $this.data('porcent') === "true";
                              var displayValue = isPercent ? value.toFixed($this.data('decimals')) + '%' :
                                numberWithCommas(value.toFixed($this.data('decimals')));
                              $this.text(prefix + displayValue);
                            },
                            onComplete: function(value) {
                              // This ensures the class is only added once at the beginning of counting
                              var prefix = $this.data('prefix') ? $this.data('prefix') + ' ' : '';
                              var isPercent = $this.data('porcent') === true || $this.data('porcent') === "true";
                              var displayValue = isPercent ? value.toFixed($this.data('decimals')) + '%' :
                                numberWithCommas(value.toFixed($this.data('decimals')));
                              $this.text(prefix + displayValue);
                            }
                          });
                    }, $this.data('delay') || 0);
        
                    this.destroy(); // Ensures the animation and counting occur only once
                }, {
                    offset: '80%', // Triggers when the element is 75% from the top of the viewport
                    triggerOnce: true // Counting should only happen once
                });
            });
             
             // Inicialización al cargar la página
            $('.finn-counto').each(function () {
                finn_waypoint('#' + $(this).attr('id')); // Agrega los waypoints
                finn_counto('#' + $(this).attr('id'));   // Inicializa los contadores
            });
            $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
                // Recorre los elementos con la clase .finn-counto y los inicializa de nuevo
                $('.finn-counto').each(function () {
                    finn_waypoint('#' + $(this).attr('id'));
                    finn_counto('#' + $(this).attr('id'));
                });

            });
             
             
            

            function finn_waypoint(elemento) {
                var waypoint = new Waypoint({
                    element: $(elemento),
                    handler: function (direction) {
                        $(elemento + ' .count').trigger('on-appear');
                    },
                    offset: '75%',
                    triggerOnce: true
                })
            }

            function finn_counto(elemento) {
                if ($().countTo) {
                    $(elemento + ' .count').on('on-appear', function () {
                        $(elemento + ' .honeycomb-path.honeycomb-1').addClass('honeycomb-animated');

                        $(this).each(function () {
                            var to = parseFloat($(this).data('to')),
                                speed = parseInt($(this).data('speed')),
                                decimals = parseInt($(this).data('decimals'));

                            $(this).countTo({
                                to: to,
                                speen: speed,
                                decimals: decimals,
                                formatter: function (value, options) {
                                    return value.toFixed(options.decimals).replace(/\B(?=(?:\d{3})+(?!\d))/g, ',');
                                },
                                onComplete: function (value) {
                                    if (value === 1.9)
                                        return this.innerHTML += '%';
                                }

                            });
                        });
                    }); //counter
                }
            }
        });
</script>

    {# Control Anual / Trimestral de las gráficas de consumo #}
    <script>
        (function () {
            document.querySelectorAll('.ig-per__set').forEach(function (set) {
                var tabs = Array.prototype.slice.call(set.querySelectorAll('.ig-per__btn'));

                function select(tab) {
                    tabs.forEach(function (t) {
                        var on = t === tab;
                        t.setAttribute('aria-selected', on ? 'true' : 'false');
                        t.tabIndex = on ? 0 : -1;
                        var panel = document.getElementById(t.getAttribute('aria-controls'));
                        if (panel) { panel.hidden = !on; }
                    });
                }

                tabs.forEach(function (tab, i) {
                    tab.addEventListener('click', function () { select(tab); });
                    tab.addEventListener('keydown', function (e) {
                        if (e.key !== 'ArrowRight' && e.key !== 'ArrowLeft') { return; }
                        e.preventDefault();
                        var next = tabs[(i + (e.key === 'ArrowRight' ? 1 : tabs.length - 1)) % tabs.length];
                        select(next);
                        next.focus();
                    });
                });
            });
        })();
    </script>
{% endblock %}
