{% extends 'layouts/interior.html' %}
{% load static %}
{% block otherstyles %}

{% endblock %}

{% block wrapper %}
    <div class="content-wrap">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <p class="text-justify">En Planigrupo estamos comprometidos con el desarrollo sostenible de las
                        comunidades, empresas y países en los que operamos, y para ello nos hemos enfocado en los
                        Objetivos de Desarrollo Sostenible (ODS) de las Naciones Unidas.</p>
                        <div style="text-align:center;">
                            <img src="{% static 'images/vin_ods.png' %}" style="display:block; width:100%; height: 650px;"
                                 alt="">
                      </div>

                    <!--<p class="text-justify">Con la estrategia de sustentabilidad que ha impulsado plani, estamos en el
                        camino para contribuir con algunos de los objetivos impulsados por Las Naciones Unidas para la agenda
                        2030, los cuales se muestran a continuación:</p>-->

                    <!--<table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>OBJETIVO</th>
                            <th>MEDIDA</th>
                            <th>OBJETIVO</th>
                            <th>MEDIDA</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>
                                <div class="text-center">
                                    <img class="img-fluid" src="{% static 'images/ODS_1.png' %}" width="100"
                                         height="100">
                                </div>
                            </td>
                            <td class="vertical-align-center">
                                Empleo temporal
                            </td>
                            <td>
                                <div class="text-center">
                                    <img class="img-fluid" src="{% static 'images/ODS_3.png' %}" width="100"
                                         height="100">
                                </div>
                            </td>
                            <td class="vertical-align-center">
                                Contar con medidas y acciones para prevenir accidentes y enfermedades en el trabajo
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="text-center">
                                    <img class="img-fluid" src="{% static 'images/ODS_5.png' %}" width="100"
                                         height="100">
                                </div>
                            </td>
                            <td class="vertical-align-center">
                                No discriminación
                            </td>
                            <td>
                                <div class="text-center">
                                    <img class="img-fluid" src="{% static 'images/ODS_7.png' %}" width="100"
                                         height="100">
                                </div>
                            </td>
                            <td class="vertical-align-center">
                                Paneles solares
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="text-center">
                                    <img class="img-fluid" src="{% static 'images/ODS_8.png' %}" width="100"
                                         height="100">
                                </div>
                            </td>
                            <td class="vertical-align-center">
                                Empleos de calidad, programas para colaboradores, empleo temporal,
                            </td>
                            <td>
                                <div class="text-center">
                                    <img class="img-fluid" src="{% static 'images/ODS_9.png' %}" width="100"
                                         height="100">
                                </div>
                            </td>
                            <td class="vertical-align-center">
                                No solo por el giro del negocio, sino parte de nuestra misión es contar con la
                                tecnología de
                                punta, que sea más eficiente
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="text-center">
                                    <img class="img-fluid" src="{% static 'images/ODS_15.png' %}" width="100"
                                         height="100">
                                </div>
                            </td>
                            <td class="vertical-align-center">
                                Programas de biodiversidad
                            </td>
                            <td>
                                <div class="text-center">
                                    <img class="img-fluid" src="{% static 'images/ODS_16.png' %}" width="100"
                                         height="100">
                                </div>
                            </td>
                            <td class="vertical-align-center">
                                Medidas anticorrupción
                            </td>
                        </tr>
                        </tbody>
                    </table>-->
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block otherscripts %}
{% endblock %}
