{% extends 'layouts/interior.html' %}
{% load static %}
{% block otherstyles %}
    <style>
        .owl-carousel.for-carousel .item{
            min-height: 200px;
            background-color: #2792ec;
        }

        .owl-carousel.for-carousel .item h1{
            line-height: 1;
        }
        .owl-carousel.for-carousel .owl-stage{
            padding: 0;
        }
        
        .owl-carousel .owl-stage {
            display: flex;
            align-items: center;
          }

        .ulcard > li:before{
            content: "•";
        }
        .modal-event{
            cursor: pointer;
        }
        .btn-modal-close {
            background-color: #4A88E6;
            transition: background-color 1s ease;
            color: #fff;
        }
        .btn-modal-close:hover {
            background-color: #4A88E6;
            color: #fff;
        }
        .image_wrapper {
            position: relative;
            overflow: hidden;
            height: 200px; /* Altura fija del contenedor de la imagen */
            width: 280px;
        }

        .image_wrapper img {
            display: block;
            object-fit: cover; /* Esto asegura que la imagen cubra completamente el contenedor sin distorsionarse */
            width: 100%; /* La imagen ocupará todo el ancho del contenedor */
            height: 100%; /* La imagen ocupará toda la altura del contenedor */
        }

        .image_wrapper .overlay {
            position: absolute;
            display: flex;
            align-items: end;
            justify-content: center;

            overflow: hidden;
        }

        .image_wrapper .overlay_2 {
            height: 100px;
            width: 100%;
            text-align: center;
            padding-top:20px;
            /*display: none;*/
            opacity: 0;
            -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
            transition: all .23s ease;
        }

        .image_wrapper:hover img {
            -webkit-transform: scale(1.1);
            transform: scale(1.1);
            opacity: 0.7;
            transition: all .23s ease;
        }

        .image_wrapper:hover .overlay_2 {
            display: flex;
            background: #98979A;
            align-items: center;
            justify-content: center;
            opacity: 1;
            -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
        }

        .icon {
            width: 100px;
            cursor: pointer;
        }
    
        .bullet {
            width: 50px;
            margin-right: 10px;
        }
    
        .list-styled1 li {
            list-style: none;
            display: flex;
            align-items: center;
            margin-bottom: 15px;
        }
    
        .tab-pane {
            display: none;
        }
    
        .tab-pane.active {
            display: block;
        }

        .icon-container {
            display: inline-block;
            transition: transform 0.3s ease, box-shadow 0.3s ease;
          }
          
        .icon-container:hover {
            transform: scale(1.1); /* Aumenta el tamaño al 110% */
        }

        #ejes .icon-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        #ejes .icon {
            width: 100px;
            height: 100px;
            object-fit: contain;
            margin-bottom: 0;
        }
        

    </style>
{% endblock %}

{% block wrapper %}
    <div class="">
        
        <div class="content-wrap">
            <div class="container">
                <p class="text-justify" style="padding-top: 30px">CYDSA ha actualizado su <strong>Estrategia de Sustentabilidad</strong>, que se alinea con
                    sus objetivos de negocio y se aplica de manera transversal en todas las áreas del Grupo. Esta estrategia
                    proyecta una visión de sostenibilidad a largo plazo, con el propósito de implementar iniciativas que se
                    centren en criterios Ambientales, Sociales y de Gobernanza (ESG, por sus siglas en inglés).</p>
            </div>
            <section id="acciones" class="py-1" data-wow-duration="2s" data-wow-delay="2s" style="padding-bottom: 30px!important;">
                <div class="container">
                <h1 class="text-center mt-5 mb-5 tc-blue">
                    Logros principales de sustentabilidad en 2023</h1>

                <div
                        class="owl-carousel owl-carousel-full image-carousel carousel-widget my-3 carousel2"
                        data-margin="" data-loop="true" data-nav="true" data-autoplay="3000" data-items="8"
                        data-pagi="true" data-items-xs="1"
                        data-items-sm="2" data-items-md="2" data-items-lg="4" data-items-xl="4"
                        data-auto-play-hover-pause="true">


                    <div class="oc-item">
                        <div class="image_wrapper">
                            <a class="h4 text-white text-center modal-event"

                                data-toggle="modal"
                                data-target="#myModal"
                                data-title="Estrategia de sustentabilidad"
                                data-img="{% static 'images/modelo_asg/sus1.jpg' %}"
                                data-description="Se fortaleció la estrategia de Sustentabilidad de CYDSA a partir de la actualización de su materialidad, junto con la identificación de las áreas de enfoque, indicadores y establecimiento de objetivos de la empresa."
                            >
                                <img src="{% static 'images/modelo_asg/sus2.jpg' %}">
                                <div class="overlay">
                                    <div class=" overlay_2">
                                        <h3 class="text-white">Estrategia de sustentabilidad</h3>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="oc-item">
                        <div class="image_wrapper">
                            <a class="h4 text-white text-center modal-event"

                                data-toggle="modal"
                                data-target="#myModal"
                                data-title="Inversiones en pro del desarrollo sustentable"
                                data-img="{% static 'images/modelo_asg/inver2.jpg' %}"
                                data-description="+590 mdd destinados a inversiones que han contribuido al desarrollo sustentable de CYDSA a partir de octubre del 2010."
                            >
                                <img src="{% static 'images/modelo_asg/inver1.jpg' %}">
                                <div class="overlay">
                                    <div class=" overlay_2">
                                        <h3 class="text-white">Inversiones en pro del desarrollo sustentable</h3>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="oc-item">
                        <div class="image_wrapper">
                            <a class="h4 text-white text-center modal-event"
                                data-toggle="modal"
                                data-target="#myModal"
                                data-title="Lesiones por accidente laboral"
                                data-img="{% static 'images/modelo_asg/lesion2.jpg' %}"
                                data-description="-16.7% en lesiones por accidente laboral registrables en comparación con el 2022."
                            >
                                <img src="{% static 'images/modelo_asg/lesion1.jpg' %}">
                                <div class="overlay">
                                    <div class=" overlay_2">
                                        <h3 class="text-white">Lesiones por accidente laboral</h3>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="oc-item">
                        <div class="image_wrapper">
                            <a class="h4 text-white text-center modal-event"

                                data-toggle="modal"
                                data-target="#myModal"
                                data-title="Producción de botes de plástico"
                                data-img="{% static 'images/modelo_asg/botellas2.jpg' %}"
                                data-description="Producción de botes de plástico para el empaque de productos del negocio de sal en presentaciones de 1 kg y 750 gramos, elaborados con materiales oxodegradables."
                            >
                                <img src="{% static 'images/modelo_asg/botellas1.jpg' %}">
                                <div class="overlay">
                                    <div class=" overlay_2">
                                        <h3 class="text-white">Producción de botes de plástico</h3>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>


                    <div class="oc-item">
                        <div class="image_wrapper">
                            <a class="h4 text-white text-center modal-event"

                                data-toggle="modal"
                                data-target="#myModal"
                                data-title="Emisiones directas a la atmósfera"
                                data-img="{% static 'images/modelo_asg/emisiones_directas2.png' %}"
                                data-description="-36% en las emisiones directas a la atmósfera durante 2023 en comparación con el año base (2018)."
                            >
                                <img src="{% static 'images/modelo_asg/emisiones_directas1.png' %}">
                                <div class="overlay">
                                    <div class=" overlay_2">
                                        <h3 class="text-white">Emisiones directas a la atmósfera</h3>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="oc-item">
                        <div class="image_wrapper">
                            <a class="h4 text-white text-center modal-event"

                                data-toggle="modal"
                                data-target="#myModal"
                                data-title="Consumo de agua"
                                data-img="{% static 'images/modelo_asg/agua2.jpg' %}"
                                data-description="-9% en el consumo de agua durante 2023 en comparación con el año base (2018)."
                            >
                                <img src="{% static 'images/modelo_asg/agua1.jpg' %}">
                                <div class="overlay">
                                    <div class=" overlay_2">
                                        <h3 class="text-white">Consumo de agua</h3>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="oc-item">
                        <div class="image_wrapper">
                            <a class="h4 text-white text-center modal-event"

                                data-toggle="modal"
                                data-target="#myModal"
                                data-title="Agua recirculada"
                                data-img="{% static 'images/modelo_asg/aguareci2.jpg' %}"
                                data-description="El 44.2% del agua consumida en los procesos operativos de CYDSA fue recirculada, un incremento del 58.9% en comparación con el año base (2018)."
                            >
                                <img src="{% static 'images/modelo_asg/aguareci1.jpg' %}">
                                <div class="overlay">
                                    <div class=" overlay_2">
                                        <h3 class="text-white">Agua recirculada</h3>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="oc-item">
                        <div class="image_wrapper">
                            <a class="h4 text-white text-center modal-event"

                                data-toggle="modal"
                                data-target="#myModal"
                                data-title="Residuos reciclados"
                                data-img="{% static 'images/modelo_asg/residuos2.jpg' %}"
                                data-description="+20% en el volumen total en toneladas de residuos reciclados durante su disposición en comparación con el 2022."
                            >
                                <img src="{% static 'images/modelo_asg/residuos1.jpg' %}">
                                <div class="overlay">
                                    <div class=" overlay_2">
                                        <h3 class="text-white">Residuos reciclados</h3>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="oc-item">
                        <div class="image_wrapper">
                            <a class="h4 text-white text-center modal-event"

                                data-toggle="modal"
                                data-target="#myModal"
                                data-title="Certificaciones"
                                data-img="{% static 'images/modelo_asg/certi2.jpg' %}"
                                data-description="Se mantienen certificaciones en ISO 14001, reconocimientos del Chlorine Institute y la Asociación Nacional de la Industria Química por mejores prácticas en responsabilidad integral."
                            >
                                <img src="{% static 'images/modelo_asg/certi1.jpg' %}">
                                <div class="overlay">
                                    <div class=" overlay_2">
                                        <h3 class="text-white">Certificaciones</h3>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                </div>
            </section>
        </div>
        <div class="modal fade popup" id="myModal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-lg">
               <div class="modal-content">
                   <div class="card">
                       <div class="card-body">
                           <h1 class="event-title card-title mb-0 text-center text-bold tc-blue mt-2 mb-2">
                           </h1>
                           <p class="event-description card-text mt-4 text-justify" style="font-size: 22px">
                           </p>
                           <img class="cover event-img" src="">
                       </div>
                   </div>
                   <div class="text-center py-3">
                       <button type="button" class="btn btn-secondary close-btn card-link" data-mdb-dismiss="modal">
                           Cerrar
                       </button>
                   </div>
               </div>
            </div>
        </div>
        <div class="container">
            <div class="wow fadeInUp" data-wow-duration="1s">
                <p class="text-justify" style="padding-top: 30px">
                    El núcleo de la Estrategia de Sustentabilidad de CYDSA se expresa en su Modelo de Sustentabilidad,
                    el cual está basado en tres pilares fundamentales: <strong>Medio Ambiente</strong>, <strong>Gente</strong> y <strong>Comunidad</strong>. Estos pilares
                    guían todos los procesos del Grupo hacia el cumplimiento de sus metas y objetivos de sostenibilidad,
                    al mismo tiempo que generan valor para sus Grupos de Interés.
                </p>
                <div class="row justify-content-center">
                    <img style="width: 10%; height: 10%" src="{% static 'images/asg/circulo_vf.png' %}" class="col-md-6 wow fadeInUp mb-4">
                </div>
                <p class="text-justify" style="padding-top: 30px">
                    En el centro del modelo se encuentran los <strong>principios y valores</strong> que rigen toda actividad de CYDSA. En
                    la segunda capa aparecen las <strong>tres líneas de acción</strong> identificadas por los grupos de interés, las
                    cuales se buscarán mejorar continuamente a través de la innovación y la generación de una cultura de
                    Sustentabilidad apoyada en una buena comunicación y entrenamiento. Finalmente, en el círculo externo
                    se muestran las <strong>seis prioridades englobadas en las tres líneas de acción</strong>.
                </p>
            </div>
        </div>
        <div class="content-wrap p-2">
            <section id="ejes">
                <div class="container">
                    <h1 class="text-center tc-blue">Ejes de acción 2023</h1>
                    <div class="row text-center mb-2">
                        <!-- Botón 1 -->
                        <div class="col-md-4 icon-container wow fadeInUp">
                            <img src="/static/images/asg/ico_medio_ambiente.png" alt="Medio Ambiente" class="icon img-fluid" data-target="#tab1">
                            <h3 class="m-0">Medio Ambiente</h3>
                        </div>
                        <!-- Botón 2 -->
                        <div class="col-md-4 icon-container wow fadeInUp">
                            <img src="/static/images/asg/ico_gente.png" alt="Gente" class="icon img-fluid" data-target="#tab2" style="height: 100px; width: 105px; padding-top: 10px">
                            <h3 class="m-0">Gente</h3>
                        </div>
                        <!-- Botón 3 -->
                        <div class="col-md-4 icon-container wow fadeInUp">
                            <img src="/static/images/asg/ico_comunidad.png" alt="Comunidad" class="icon img-fluid" data-target="#tab3" style="height: 98px; width: 108px">
                            <h3 class="m-0">Comunidad</h3>
                        </div>
                    </div>
                    <!-- Contenido dinámico -->
                    <div id="tab-content">
                        <div id="tab1" class="tab-pane">
                            <div class="row d-flex align-items-center">
                                <div class="col-md-6">
                                    <ul class="list-styled1 text-justify">
                                        <li><img src="/static/images/asg/Iconos-30.png" alt="bullet" class="bullet"> Se incluyeron objetivos cuantitativos relacionados con emisiones de gases de efecto invernadero y economía circular en la nueva Estrategia de Sustentabilidad.</li>
                                        <li><img src="/static/images/asg/Iconos-30.png" alt="bullet" class="bullet"> Se redujo la intensidad de emisiones de gases de efecto invernadero del Grupo en 24% con respecto al 2022.</li>
                                        <li><img src="/static/images/asg/Iconos-30.png" alt="bullet" class="bullet">Se incrementó el volumen de extracción de aguas negras o tratadas del Grupo en 52% con respecto al 2022.</li>
                                        <li><img src="/static/images/asg/Iconos-30.png" alt="bullet" class="bullet"> La Planta de Tratamiento de Aguas Negras en IQUISA Santa Clara extrajo el 38% del volumen de extracción de agua requerido para sus operaciones.</li>
                                    </ul>
                                </div>
                                <div class="col-md-6 text-center">
                                    <img class="img-fluid" src="/static/images/gobernanza/ejes-medio-ambiente.png" alt="Medio Ambiente">
                                </div>
                            </div>
                        </div>
                        <div id="tab2" class="tab-pane d-none">
                            <div class="row d-flex align-items-center">
                                <div class="col-md-6 text-center">
                                    <img class="img-fluid" src="/static/images/gobernanza/ejes-gente.png" alt="Gente">
                                </div>
                                <div class="col-md-6">
                                    <ul class="list-styled1 text-justify">
                                        <li><img src="/static/images/asg/Iconos-28.png" alt="bullet" class="bullet"> Se incluyeron objetivos cuantitativos relacionados con la diversidad, equidad e igualdad, así como con la salud y seguridad industrial, en la nueva Estrategia de Sustentabilidad.</li>
                                        <li><img src="/static/images/asg/Iconos-28.png" alt="bullet" class="bullet"> Se redujeron las lesiones por accidente laboral registrables un 16.7% en comparación con el 2022.</li>
                                        <li><img src="/static/images/asg/Iconos-28.png" alt="bullet" class="bullet"> Se mantuvieron certificaciones en ISO 14001, reconocimientos del Chlorine Institute y la Asociación Nacional de la Industria Química por mejores prácticas en responsabilidad integral.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div id="tab3" class="tab-pane d-none">
                            <div class="row d-flex align-items-center">
                                <div class="col-md-6">
                                    <ul class="list-styled1 text-justify">
                                        <li><img src="/static/images/asg/Iconos-29.png" alt="bullet" class="bullet"> Durante 2023, CYDSA no recibió notificaciones de las comunidades aledañas a las plantas sobre afectaciones ocasionadas por las operaciones.</li>
                                        <li><img src="/static/images/asg/Iconos-29.png" alt="bullet" class="bullet"> Se aplicaron encuestas de percepción de riesgo social dirigidas a los vecinos para analizar el impacto de los diversos apoyos comunitarios realizados por CYDSA.</li>
                                    </ul>
                                </div>
                                <div class="col-md-6 text-center">
                                    <img class="img-fluid" src="/static/images/gobernanza/ejes-comunidad.png" alt="Comunidad">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div class="container">
            <div id="modelo-sus" class="wow fadeInUp" data-wow-duration="1s">
                <h1 class="text-center mt-5 mb-5" style="color: #2B2B2B;">Modelo de sustentabilidad</h1>      
                <p class="text-justify">
                    Para desarrollar nuevas estrategias y acciones que promuevan un desarrollo armónico y sostenible, se
                    consideran los resultados de diversos sistemas de control y el diálogo con los Grupos de Interés.
                    Con esta visión, <strong>CYDSA reafirma su cultura de mejora continua y fortalece su imagen sustentable</strong>,
                    logrando un progreso constante mediante objetivos concretos y métricas de seguimiento.
                </p>
               
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 col-sm-1 col-lg-6 m-0 p-0">
                    <img src="/static/images/ambiental/generacion-valor-compartido.png" alt="" class="img_fluid">
                </div>
                <div class="col-md-6 col-sm-1 col-lg-6 p-5 d-flex flex-column justify-content-center">
                    <h1 class="tc-blue text-center" style="color: #79B928">
                        Generación de valor compartido con todos los grupos de interés
                    </h1>
                    <div class="d-flex justify-content-center">
                        <ul class="list-styled">
                            <li>
                                <p>Accionistas y Tenedores de Bonos</p>
                            </li>
                            <li>
                                <p>Analistas de Capital y Deuda</p>
                            </li>
                            <li>
                                <p>Autoridades</p>
                            </li>
                            <li>
                                <p>Clientes</p>
                            </li>
                            <li>
                                <p>Colaboradores</p>
                            </li>
                            <li>
                                <p>Comunidad</p>
                            </li>
                        </ul>
                        <ul class="list-styled">
                            <li>
                                <p>Gobierno</p>
                            </li>
                            <li>
                                <p>Instituciones financieras</p>
                            </li>
                            <li>
                                <p>Medios de comunicación</p>
                            </li>
                            <li>
                                <p>ONGs</p>
                            </li>
                            <li>
                                <p>Proveedores / Distribuidores</p>
                            </li>
                            <li>
                                <p>Sindicatos</p>
                            </li>
                        </ul>
                    </div>

                </div>
                <div class="col-md-6 col-sm-1 col-lg-6 p-5 text-white d-flex flex-column justify-content-center"
                         style="background-color: #79B928">
                        <h1 class="text-white text-center" style="color: #E3B94A">
                            Líneas de acción de CYDSA
                        </h1>
                        <p class="text-justify">
                            Para ser recononocida como una Empresa de Clase Mundial, líder en las industrias en las que
                            participa, con una rentabilidad económica-social creciente y sostenida.
                        </p>

                    </div>
                <div class="col-md-6 col-sm-1 col-lg-6 m-0 p-0">
                        <img src="/static/images/ambiental/lineas-accion-cydsa.png" alt="" class="img_fluid">
                    </div>
            </div>
        </div>
        <div class="content-wrap">
            <div class="container">
                <div id="objetivos" class="wow fadeInUp" data-wow-duration="1s">
                    <br>
                    <h1 class="text-center mb-5" style="color: #2B2B2B;">Objetivos cuantitativos</h1>
                    <p class="text-justify">
                        CYDSA ha definido los siguientes objetivos iniciales con metas establecidas para alcanzarse en 2030.
                        Para su medición y gestión, se han desarrollado herramientas específicas para su monitoreo continuo.
                        Estos objetivos se actualizarán conforme a nuestro
                        proceso interno de mejora continua e innovación.
                    </p>
                    <div class="text-center">
                        <img src="{% static 'images/asg/indicadores_vf.png' %}" class="wow fadeInUp mb-4" style="width:100%; height: 750px;">
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div id="actualizacion-sus" class="wow fadeInUp" data-wow-duration="1s">
                <h1 class="text-center mt-5 mb-5" style="color: #2B2B2B;">Proceso de actualización del Modelo de Sustentabilidad y el estudio de materialidad hacia las líneas de acción</h1>
                <p class="text-justify" >
                    Para la actualización del modelo, se llevó a cabo un nuevo análisis de materialidad con la finalidad de
                    identificar temas prioritarios actualizados que responden a los intereses y necesidades de CYDSA y sus
                    grupos de interés. Se mapearon las perspectivas de todas las audiencias del Grupo y se determinaron <strong>diecisiete
                    temas materiales</strong>. Conforme a su importancia para el desarrollo sustentable de la empresa, se
                    identificaron <strong>once temas críticos y prioritarios</strong> alineados con las estrategias corporativas de CYDSA.
                    Estos temas se agruparon en <strong>seis prioridades</strong> y <strong>tres líneas de acción</strong>.
                </p>
            </div>
            <div class="container">
                <div id="actualizacion-estudio">
                    
                    
                    <div class=" wow fadeInLeft text-center" >
                        <img src="{% static 'images/asg/materiales_vf.png' %}">
                    </div>
                    <div class=" wow fadeInRight text-center" >
                        <img src="{% static 'images/asg/matriz_vf.png' %}" style="width:600px">
                    </div>
                    
                    
                </div>
            </div>
        </div>        
        <div class="modal fade popup" id="myModal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content d-flex justify-content-center align-items-center">
                    <div class="card">
                        <div class="card-body">
                            <h2 class="event-title card-title mb-0 text-center text-bold tc-blue mb-5">
                            </h2>
                            <p class="event-description card-text mt-5 text-justify">
                            </p>
                            <div class="row justify-content-center">
                                <img class="cover event-img col-md-6" src="">
                            </div>
                        </div>
                    </div>
                    <div class="text-center py-3">
                        <button type="button" class="btn btn-modal-close close-btn card-link" data-mdb-dismiss="modal">
                            Cerrar
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade popup" id="myModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="card">
                    <div class="card-body">
                        <h2 class="event-title card-title mb-0 text-center text-bold tc-gray mt-5 mb-5">
                        </h2>
                        <p class="event-description card-text mt-5 text-justify">
                        </p>
                        <img class="cover event-img" src="">
                    </div>
                </div>
                <div class="text-center py-3">
                    <button type="button" class="btn btn-secondary close-btn card-link" data-mdb-dismiss="modal">
                        Cerrar
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="content-wrap">
        <div class="container">
            <div id="descargable" class="wow fadeInUp pt-5 pb-5" data-wow-duration="1s"
                 style="visibility: visible; animation-duration: 1s; animation-name: fadeInUp;">
                <div id="menu1_6"></div>
                <h1 class="text-center mb-5" style="color: #2B2B2B;">Contenido Descargable</h1>
                <div class="row justify-content-center wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                    <div class="col-md-3 mb-4">
                        <a class="d-flex flex-column"
                           href="https://investorcloud.s3.amazonaws.com/Cydsa/INFORME-SUST-2023-ESP.pdf "
                           target="_blank">
                            <img class="mb-3" src="/static/images/modelo_asg/imagen_2023.png" alt="">
                            <button class="btn btn-default btn-primary">Informe de Sustentabilidad 2023</button>
                        </a>
                    </div>
                    <div class="col-md-3 mb-4">
                        <a class="d-flex flex-column"
                           href="https://investorcloud.s3.amazonaws.com/Cydsa/2022-Sustentabilidad1.pdf"
                           target="_blank">
                            <img class="mb-3" src="/static/images/modelo_asg/imagen_2022.png" alt="">
                            <button class="btn btn-default btn-primary">Informe de Sustentabilidad 2022</button>
                        </a>
                    </div>
                    <div class="col-md-3 mb-4">
                        <a class="d-flex flex-column"
                           href="https://investorcloud.s3.amazonaws.com/Cydsa/2021-sustentabilidad.pdf"
                           target="_blank">
                            <img class="mb-3" src="/static/images/modelo_asg/imagen_2021.png" alt="">
                            <button class="btn btn-default btn-primary">Reporte de Sustentabilidad 2021</button>
                        </a>
                    </div>
                    <div class="col-md-3 mb-4">
                        <a class="d-flex flex-column"
                           href="https://investorcloud.s3.amazonaws.com/Cydsa/2020-sustentabilidad.pdf"
                           target="_blank">
                            <img class="mb-3" src="/static/images/modelo_asg/imagen_2020.png" alt="">
                            <button class="btn btn-default btn-primary">Informe de Sustentabilidad 2020</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block otherscripts %}
    <script>
        // Lógica de sección comites
        document.querySelectorAll('.icon').forEach(icon => {
            icon.addEventListener('click', function () {
                // Ocultar todas las pestañas
                document.querySelectorAll('.tab-pane').forEach(tab => tab.classList.remove('active', 'd-none'));
                // Mostrar la pestaña seleccionada
                const target = document.querySelector(this.dataset.target);
                target.classList.add('active');
            });
        });
    </script>
    <script>
        $(document).ready(function() {
            $(".modal-event").click(function (e) {
                e.preventDefault();
                console.log('entro');
                let target = $(e.currentTarget);
                {#console.log(target);#}

                $("#myModal .event-title").text(target.data('title'));
                $("#myModal .event-description").text(target.data('description'));
                $("#myModal .event-img").attr('src', target.data('img'));

                $("#myModal").modal('show');
            });
            $("#myModal .close-btn").click(function (e) {
                $("#myModal").modal('hide');
            });
            $('.up-arrow, .down-arrow').click(function(){
                var $this = $(this);
                var direction = $this.data('direction');
                var $contentContainer = $this.closest('.elementEsquema').find('.content-container');
                var $currentContent = $contentContainer.find('.content.active');
                var $nextContent = (direction === 'up') ? $currentContent.prev('.content') : $currentContent.next('.content');
        
                if($nextContent.length){
                    $currentContent.removeClass('active').css('left', (direction === 'up') ? '100%' : '-100%');
                    $nextContent.addClass('active').css('left', '0');
        
                    // Set a timeout to reset the left position of the current content
                    setTimeout(function() {
                        $currentContent.css('left', '100%'); // Reset to original off-screen position
                    }, 500); // This should match the duration of the transition
                }
            });
        });

    </script>
{% endblock %}
