{% load i18n %}
{% load static %}

{% block otherstyles %}
   <style>

   </style>

{% endblock %}
<section id="boxes" style="">
    <div class="card-group">
        <div class="card">
            <img class="card-img-top" src="{% static "images/ODS_1.png" %}" alt="Card image cap">
            <div class="card-body" style="background-color: #e4263b !important;">
                <p>Empleo temporal</p>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="{% static "images/ODS_3.png" %}" alt="Card image cap">
            <div class="card-body" style="background-color: #4d9e37 !important;">
                <p>Contar con medidas y acciones para prevenir accidentes y enfermedades en el trabajo</p>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="{% static "images/ODS_3.png" %}" alt="Card image cap">
            <div class="card-body" style="background-color: #e7412e !important;">
                <p>No discriminación</p>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="{% static "images/ODS_5.png" %}" alt="Card image cap">
            <div class="card-body" style="background-color: #fbc109 !important;">
                <p>Paneles solares</p>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="{% static "images/ODS_5.png" %}" alt="Card image cap">
            <div class="card-body" style="background-color: #a21a43 !important;">
                <p>Empleos de calidad, programas para colaboradores, empleo temporal</p>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="{% static "images/ODS_7.png" %}" alt="Card image cap">
            <div class="card-body" style="background-color: #ec692f !important;">
                <p>No solo por el giro del negocio, sino parte de nuestra misión es contar con la tecnología
                    de punta, que sea más eficiente</p>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="{% static "images/ODS_7.png" %}" alt="Card image cap">
            <div class="card-body" style="background-color: #60b134 !important;">
                <p>Programas de biodiversidad</p>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="{% static "images/ODS_16.png" %}" alt="Card image cap">
            <div class="card-body" style="background-color: #00699e !important;">
                <p>Medidas anticorrupción</p>
            </div>
        </div>
    </div>
</section>
