{% load i18n %}
{% load static %}

{% block otherstyles %}
    <link rel="stylesheet" href="{% static 'stylesheets/carousel.eventos.min.css' %}">
{% endblock %}
<section id="eventos">
    <div class="content-wrap" style="padding: 50px 0 80px;">
        <div class="container clearfix">
            <h2>Actividades</h2>
            <div class="d-flex justify-content-end align-items-center mb-5">
                <div class="form-inline">
                    <h3 class="mb-0 mr-3 font-weight-bold text-black">Filtrar por:</h3>
                    <select class="form-control form-control-sm mr-3" name="select_category" id="select_category">
                        <option value="all">Todas</option>
                        <option value="Sociales">Sociales</option>
                        <option value="Ambientales">Ambientales</option>
                    </select>
                    <h3 class="mb-0 mr-3 font-weight-bold text-black">Año</h3>
                    <select class="form-control form-control-sm" name="select_anno" id="select_anno">
                        <option value="all">Todo</option>
                        <option value="2023">2023</option>
                        <option value="2022">2022</option>
                        <option value="2021">2021</option>
                        <option value="2020">2020</option>
                    </select>
                </div>

            </div>
            <div class="events-list my-3 mx-3">
                <div class="row">
                    {% for event in eventos %}
                        <article class="col-md-4 event-item all show-event"
                                 data-date="{{ event.date }}"
                                 data-category="{{ event.category }}"
                                 style="background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.9)),
                                         url({% static event.img %});
                                         background-size: cover">
                            <div class="d-flex justify-content-center flex-column py-5">
                                <a href="#"
                                   class="modal-galery"
                                   data-mdb-toggle="modal"
                                   data-mdb-target="#GaleryModal1"
                                   data-img="{% static event.img %}"
                                   data-title="{{ event.title }}"
                                   data-url="{{ event.url }}"
                                   data-category="{{ event.category }}"
                                   data-description="{{ event.description }}"
                                   data-date="{{ event.date }}"
                                >
{#                                <span class="event-date">#}
{#                                    {{ event.date }}#}
{#                                </span>#}

{#                                <span class="event-category">#}
{#                                    {{ event.category }}#}
{#                                </span>#}
                                    <h4 class="mb-0">
                                        {{ event.title }}
                                    </h4>
                                    <p class="description mt-5">
                                        {{ event.description }}
                                    </p>
                                </a>
                            </div>
                        </article>
                    {% endfor %}
                    <article id="no-event" class="col-md-3 event-item hide-event">
                        <h3 class="mb-0 uppercase">
                            No hay noticias.
                        </h3>
                    </article>
                </div>
            </div>
            <div id="paginationholder" class="mb-3 mb-lg-0 d-flex justify-content-end">
                <ul id="pagination" class="pagination-lg"></ul>
            </div>

        </div>
    </div>
</section>
<div class="modal fade popup" id="GalleryModal1" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="card">
                <div class="card-body">
                    <img class="cover event-img" src="">
<iframe width="560" height="315" src="https://www.youtube.com/embed/ZK9iP5PEhSU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    <h4 class="event-title card-title mb-0">
                    </h4>
                    <span class="event-date">
                        <i class="fa fa-calendar fa-4x"></i>
                    </span>
                    <span class="event-category">
                    </span>
                    <p class="event-description card-text mt-5">
                    </p>
                </div>
            </div>
            <div class="text-center py-3">
                <button type="button" class="btn btn-secondary close-btn card-link" data-mdb-dismiss="modal">
                    Cerrar
                </button>
            </div>
        </div>
    </div>
</div>
