{% load i18n %}
{% load static %}
{% block otherstyles %}
    <link rel="stylesheet" href="{% static 'stylesheets/carousel.eventos.min.css' %}">
    <style>

    </style>
{% endblock %}
<section id="eventos" class="s-block pb-5">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 class="text-center tc-blue mt-5 mb-0">Actividades</h1>
                <div class="d-flex justify-content-end align-items-center mb-5">
                    <div class="form-inline">
                        <h3 class="mb-0 mr-3 font-weight-bold text-black">Filtrar por:</h3>
                        <select class="form-control form-control-sm mr-3" name="select_category" id="select_category">
                            <option value="all">Todas</option>
                            <option value="Sociales">Sociales</option>
                            <option value="Ambientales">Ambientales</option>
                            <option value="Corporativas">Corporativas</option>
                        </select>
                        <h3 class="mb-0 mr-3 font-weight-bold text-black">Año</h3>
                        <select class="form-control form-control-sm" name="select_anno" id="select_anno">
                            <option value="all">Todo</option>
                            <option value="2023">2023</option>
                            <option value="2022">2022</option>
                            <option value="2021">2021</option>
                        </select>
                    </div>

                </div>
                <div class="events-list my-3 mx-3">
                    <div class="row">
                        {% for event in eventos %}
{#                            {% autoescape off %}#}
{#                                    {{ event.carousel|join:", "|escape }}#}
{#                                <h1 class="tc-blue">{{ event.carousel|escape }}</h1>#}
{#                                <h3 class="">{{ event.carousel|force_escape }}</h3>#}
{#                                <h3 class="">{{ event.carousel|safe }}</h3>#}
{#                                <h3 class="tc-gray">{{ event.carousel }}</h3>#}
{#                            {% endautoescape %}#}
{#                            <h3 class="">{{ event.carousel|force_escape }}</h3>#}
{#                            <h3 class="">{{ event.carousel|escapejs }}</h3>#}

                            <article class="col-md-4 event-item all show-event py-1 px-1"
                                     data-date="{{ event.date }}"
                                     data-category="{{ event.category }}">
                                <div class="image_wrapper2">
                                    <a href="#"
                                       class="banner_page modal-galery"
                                       data-mdb-toggle="modal"
                                       data-mdb-target="#GaleryModal1"
                                       data-img="{% static event.img %}"
                                       data-title="{{ event.title }}"
                                       data-url="{{ event.url }}"
                                       data-category="{{ event.category }}"
                                       data-description="{{ event.description }}"
                                       data-carousel="{{ event.carousel | safe }}"
                                       data-date="{{ event.date }}">
                                        <img src="{% static event.img %}" width="100%" class="cover">
                                        <div class="overlay">
                                            <div class="bg-overlay position-absolute w-100 h-100"></div>
                                            <h4 class="event-title-over text-white">
                                                {{ event.title }}
                                            </h4>
                                            <div class="overlay_3">
                                                <h4 class="event-title-over text-white">
                                                    {{ event.title }}
                                                </h4>
                                                <p class="text-white description">{{ event.description }}</p>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </article>
                        {% endfor %}
                        <article id="no-event" class="col-md-3 event-item hide-event">
                            <h3 class="mb-0 uppercase">
                                No hay noticias.
                            </h3>
                        </article>
                    </div>
                </div>
                <div id="paginationholder" class="mb-3 mb-lg-0 d-flex justify-content-end">
                    <ul id="pagination" class="pagination-lg"></ul>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="modal fade popup" id="GalleryModal1" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="card">
                <div class="card-body">
                    <img class="cover event-img" src="">
                    <iframe class="event-url"
                            width="100%" height="auto" src="" frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen style="min-height: 400px">

                    </iframe>
                    <!--carousel-->
                    <div id="carousel-eventos" class="row">
                        <div class="col-12 mb-5">
                            <div id="carousel-eventos-tree"
                                 class="nobgcolor notopmargin owl-carousel owl-carousel-full image-carousel carousel-widget"
                                 data-margin="" data-loop="true" data-nav="true" data-autoplay="5000" data-items="1"
                                 data-pagi="true" data-items-xs="1"
                                 data-items-sm="1" data-items-md="1" data-items-lg="1" data-items-xl="1"
                                 data-auto-height="true"
                            >
                            </div>
                        </div>
                    </div>
                    <h4 class="event-title card-title mb-0">
                    </h4>
                    <i class="fa fa-calendar"></i>
                    <span class="event-date">
                    </span>
                    <i class="fa fa-folder"></i>

                    <span class="event-category">
                    </span>
                    <p class="event-description card-text mt-5">
                    </p>
                </div>
            </div>
            <div class="text-center py-3">
                <button type="button" class="btn btn-danger close-btn card-link" data-mdb-dismiss="modal">
                    Cerrar
                </button>
            </div>
        </div>
    </div>
</div>

