{% load i18n %}
{% load static %}
<style>
    .fondo {
        background-image: url({% static 'images/world-map.png' %});
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
</style>
<footer id="site-footer" class="site-footer pt-2 pb-1 position-relative rs-footer">

    <div class="container">
        <div class="row">
            <div class="col-md-4 mb-1">
                <div class="about-widget text-white">
                    <h3 class="footer-title">Acerca de Industrial Gate</h3>
                    <div class="ml-1 mb-1 text-justify d-flex flex-column justify-content-between align-items-baseline">
                        <a href="https://www.industrialgate.mx/es" target="_blank" rel="noopener noreferrer">
                            <img src="{% static 'images/logo-blanco.png' %}" alt="Logo"
                                 style="padding-bottom: 0; width: 200px; height: 30%">
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 cont mb-1">
                <h3 class="footer-title">Contacto</h3>
            
                <!-- <p class="news-note mb-1"><i class="fa fa-phone" aria-hidden="true"></i> Tel: +55 2899 1374</p>
                <br> -->

                <p class="mb-1">
                    <a class="news-note text-white" href="mailto:sostenibilidad@industrialgate.com "><i
                            class="fa fa-envelope" aria-hidden="true"></i>
                            correoDeContacto@industrialgate.com
                    </a>
                </p>
                <br>
                
                <p class="news-note mb-1"><i class="fa fa-map-marker" aria-hidden="true"></i> Monte Pelvoux 120, Oficina 401, CP 11000, Lomas de Chapultepec, Ciudad de México</p>
                <br>
                <p class="mb-1">
                    <a class="news-note text-white" href="mailto:sostenibilidad@industrialgate.com "><i
                            class="fa fa-envelope" aria-hidden="true"></i>
                            sostenibilidad@industrialgate.com
                    </a>
                </p>
                <br>


            </div>
            <div class="col-md-4 mb-1">
                <h3 class="footer-title">Quejas y sugerencias</h3>
                <div class="d-flex flex-column justify-content-around align-items-baseline">
                    <p class="mb-1">
                        Servicio y atención personalizada para nuestros inquilinos. 
                    </p>
                    <br>
                    <a href="https://www.industrialgate.mx/es/complaints" class="btn btn-outline-light btn-sm mt-2" style="border-radius: 20px;">
                        Ir a la sección
                    </a>
                    
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 align-self-center">
                <p class="copyright text-center my-0">
                    © {% now 'Y' %} {% trans 'Industrial Gate - Diseñado y generado por' %}
                    <img class="ml-1" src="{% static 'images/ir-design-white.svg' %}" width="90px" alt="">
                </p>
            </div>
        </div>
    </div>
</footer>
