{% load i18n %}
{% load static %}
<style>
    .fondo {
        background-image: url({% static 'images/world-map.png' %});
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
</style>
<footer id="site-footer" class="site-footer pt-2 pb-1 position-relative rs-footer">
    {#    <a id="denuncia" href="#" class="octf-btn d-flex align-items-center"><i#}
    {#            role="presentation" role="presentation"#}
    {#            class="fa fa-commenting-o text-white"></i> {% trans 'Canal de denuncias' %}</a>#}
    <div class="container">
        <div class="row">
            <div class="col-md-4 mb-1">
                <div class="about-widget text-white">
                    <h3 class="footer-title">Acerca de cydsa</h3>
                    <div class="ml-1 mb-1 text-justify d-flex flex-column justify-content-between align-items-baseline">
                        <img src="{% static 'images/logo-blanco.png' %}" alt="Logo"
                             style="padding-bottom: 0; width: 200px; height: 30%"></a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 cont mb-1">
                <h3 class="footer-title">Contacto</h3>
                <p class="mb-1">

                    <a target="_blank" class="news-note text-white" href="https://cydsa.com/"
                       ><i class="fa fa-globe" aria-hidden="true"></i>
                       www.cydsa.com</a>
                </p><br>
                <p class="news-note mb-1"><i class="fa fa-map-marker" aria-hidden="true"></i> Av. Ricardo Margáin Zozaya No. 335 |  Torre 2 Piso 6, Valle del Campestre 66265 San Pedro Garza García, N.L.</p>
<br>
                <p class="news-note mb-1"><i class="fa fa-phone" aria-hidden="true"></i> Tel: +52 (81) 8152 4500</p>
<br>
                <p class="mb-1">
                    <a class="news-note text-white" href="mailto:sustentabilidad@cydsa.com "
                        ><i
                            class="fa fa-envelope" aria-hidden="true"></i>
                            sustentabilidad@cydsa.com
                    </a></p><br>


            </div>
            <div class="col-md-4 mb-1 fondo">
                <h3 class="footer-title">Más información</h3>
                <div class="d-flex flex-column justify-content-around align-items-baseline">
                    <p class="mb-1">
                        Reciba periódicamente información ASG relacionada con nuestra compañía.
                    </p>
                    <form class="form mb-2 pt-2 text-center was-validated" method="post" id="newsletter-form-footer">
                        <div class="form-group mb-1">
                            <input class="col-md-8 col-sm-7 col-8" id="fieldEmail" name="email"
                                   type="email" placeholder="{% trans 'Correo electrónico' %}" required
                                   data-msg-required="" data-msg-email=""/>
                            <button id="newsletter-submit-footer" type="submit" class="btn">Suscribirse</button>
                        </div>
                        <div class="alert-message-footer"></div>
                    </form>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 align-self-center">
                <p class="copyright text-center my-0">
                    © {% now 'Y' %} {% trans 'Cydsa - Diseñado y generado por' %}
                    <img class="ml-1" src="{% static 'images/ir-design-white.svg' %}" width="90px" alt="">
                </p>
            </div>
        </div>
    </div>
</footer>
