{% load static %}

<header id="header" class="transparent-header sticky-header">
    <div id="header-wrap" class="not-dark">
        <div class="container clearfix">
            <div id="primary-menu-trigger" style="margin-left: 30px; top: 15px !important"><i role="presentation" class="icon-reorder" style="scale: 2; "></i></div>
            <div class="top-header" style="z-index: 9999;">
                {% include 'partials/top-header.html' %}
            </div>
            <div id="logo" style="max-width: 250px;">
                <h1 style="margin-bottom: 10px; margin-top: 10px;">
                    <a href="https://www.industrialgate.mx/es" class="" data-dark-logo="{% static 'images/logo-blanco.png' %}"
                       title="cydsa">
                        <img src="{% static 'images/logo-blanco.png' %}" alt="Logo"></a>
                </h1>
            </div>
            <div class="container">
                <nav id="primary-menu">
                    {% include 'partials/menu.html' %}
                </nav>
            </div>
        </div>
    </div>
</header>
