{% load static %}

<header id="header" class="transparent-header sticky-header">
    <div id="header-wrap" class="not-dark">
        <div class="container clearfix">
            <div id="primary-menu-trigger"><i role="presentation" class="icon-reorder"></i></div>
            <div class="top-header" style="z-index: 9999;">
                {% include 'partials/top-header.html' %}
            </div>
            <div id="logo" style="max-width: 250px;">
                <h1>
                    <a href="#" class="" data-dark-logo="{% static 'images/logo-blanco.png' %}"
                       title="cydsa">
                        <img src="{% static 'images/logo-blanco.png' %}" alt="Logo"
                             style="padding-bottom: 0; width: 80px; height: 30%"></a>
                </h1>
            </div>
            <div class="container">
                <nav id="primary-menu">
                    {% include 'partials/menu.html' %}
                </nav>
            </div>
        </div>
    </div>
</header>
