{% load change_languaje %}
{% load static %}
{% load i18n %}

<ul id="main_menu">
    <li class="sub">
        <a href="{% url 'inicio' %}">
            <div>{% trans 'Inicio' %}</div>
        </a>
    </li>
    <li class="sub">
        <a href="{% url 'materialidad' %}">
            <div>{% trans 'Modelo ASG' %}</div>
        </a>
        <ul>
            <li class="">
                <a href="{% url 'materialidad' %}?target=acciones">
                    <div>{% trans "Materialidad" %}</div>
                </a>
            </li>
            <li class="">
                <a href="{% url 'materialidad' %}?target=ejes">
                    <div>{% trans "Estrategia ASG" %}</div>
                </a>
            </li>
            <li class="">
                <a href="{% url 'materialidad' %}?target=modelo-sus">
                    <div>{% trans "Objetivos de Desarrollo Sostenible" %}</div>
                </a>
            </li>
            <li class="">
                <a href="{% url 'materialidad' %}?target=objetivos">
                    <div>{% trans "Afiliaciones" %}</div>
                </a>
            </li>
            <li class="">
                <a href="{% url 'materialidad' %}?target=actualizacion-sus">
                    <div>{% trans "Certificaciones" %}</div>
                </a>
            </li> 
            <li class="">
                <a href="{% url 'materialidad' %}?target=descargable">
                    <div>{% trans "Centro de Reportes" %}</div>
                </a>
            </li>
        </ul>
    </li>

    <li class="sub">
        <a href="{% url 'ambiental' %}">
            <div>{% trans 'Ambiental' %}</div>
        </a>
      <ul>
            <li class="">
                <a href="{% url 'ambiental' %}?target=gestion_ambiental">
                    <div>{% trans "Desempeño Energético" %}</div>
                </a>
            </li>
            <li class="">
                <a href="{% url 'ambiental' %}?target=desempeño_ambiental">
                    <div>{% trans "Desempeño Hídrico" %}</div>
                </a>
            </li>
            <li class="">
                <a href="{% url 'ambiental' %}?target=otras_actividades">
                    <div>{% trans "Emisiones" %}</div>
                </a>
            </li>  
        </ul>
    </li>
    <li class="sub">
        <a href="{% url 'responsabilidad_social' %}">
            <div>{% trans 'Social' %}</div>
        </a>
      <ul>
            <li class="">
                <a href="{% url 'responsabilidad_social' %}?target=acciones">
                    <div>{% trans "Nuestra Gente" %}</div>
                </a>
            </li>
            <li class="">
                <a href="{% url 'responsabilidad_social' %}?target=cultura">
                    <div>{% trans "Diversidad, Equidad e Igualdad" %}</div>
                </a>
            </li>
            <li class="">
                <a href="{% url 'responsabilidad_social' %}?target=diversidad">
                    <div>{% trans "Capacitación y Desarrollo" %}</div>
                </a>
            </li>
            <li class="">
                <a href="{% url 'responsabilidad_social' %}?target=bienestar">
                    <div>{% trans "Salud y Seguridad" %}</div>
                </a>
            </li>
            <li class="">
                <a href="{% url 'responsabilidad_social' %}?target=desarrollo">
                    <div>{% trans "Impacto en COmunidades Locales" %}</div>
                </a>
            </li>
        </ul>
    </li>
    <li class="sub">
        <a href="{% url 'gobernanza' %}">
            <div>{% trans 'Gobierno Corporativo' %}</div>
        </a>
      <ul>
            <li class="">
                <a href="{% url 'gobernanza' %}?target=gobierno">
                    <div>{% trans "Equipo Directivo" %}</div>
                </a>
            </li>
            <li class="">
                <a href="{% url 'gobernanza' %}?target=consejo">
                    <div>{% trans "Comités" %}</div>
                </a>
            </li>
            <li class="">
                <a href="{% url 'gobernanza' %}?target=comite">
                    <div>{% trans "Ética de Negocios" %}</div>
                </a>
            </li>
            <li class="">
                <a href="{% url 'gobernanza' %}?target=etica">
                    <div>{% trans "Ciberseguridad" %}</div>
                </a>
            </li>
            <li class="">
                <a href="{% url 'gobernanza' %}?target=riesgos">
                    <div>{% trans "Políticas que Rigen Nuestra Operación" %}</div>
                </a>
            </li>
        </ul>
    </li>

    <li class="sub">
        <a href="https://www.industrialgate.mx/es/complaints">
            <div>{% trans 'Inquilinos' %}</div>
        </a>
    
    </li>

    <li class="sub">
        <a href="{% url 'contacto' %}">
            <div>{% trans 'Contacto' %}</div>
        </a>
    </li>

    <li class="language-switcher">
        {% load i18n %}
        <div id="menu-right" class="d-flex align-items-center">
            <div class="position-relative change-languages">

                {% get_current_language as LANGUAGE_CODE %}
                {% get_current_language_bidi as LANGUAGE_BIDI %}

                <div class="language-links" style="margin-left: 10px;">
                <!-- Modificaciones para poder cambiar de idioma con urls con query parameters -->
                <a href="{% change_lang 'es' %}">
                <!-- <a href="/es{{ request.path|slice:'3:' }}{{ request.META.QUERY_STRING|yesno:'?%s,' }}"> -->
                    <!-- <img src="{% static 'images/icons/flags/flag-mexico.png' %}" alt="Español" style="height: 20px;" /> -->
                    ES
                </a>
                <!-- <a href="{% change_lang 'en' %}"> -->
                <a href="#">
                <!-- <a href="/en{{ request.path|slice:'3:' }}{{ request.META.QUERY_STRING|yesno:'?%s,' }}" > -->
                    <!-- <img src="{% static 'images/icons/flags/flag-usa.png' %}" alt="English" style="height: 20px;" /> -->
                    EN
                </a>
                </div>
            </div>
        </div>
    </li>
</ul>
