{% load change_languaje %}
{% load static %}
{% load i18n %}

<ul id="main_menu">
    <li class="sub">
        <a href="{% url 'inicio' %}">
            <div>{% trans 'Inicio' %}</div>
        </a>
    </li>
    <li class="sub">
        <a href="{% url 'materialidad' %}">
            <div>{% trans 'Modelo ASG' %}</div>
        </a>
        <ul>
            <li class="">
                <a href="{% url 'materialidad' %}?target=acciones">
                    <div>{% trans "Materialidad" %}</div>
                </a>
            </li>
            <li class="">
                <a href="{% url 'materialidad' %}?target=ejes">
                    <div>{% trans "Estrategia AS" %}</div>
                </a>
            </li>
            <li class="">
                <a href="{% url 'materialidad' %}?target=modelo-sus">
                    <div>{% trans "Objetivos de Desarrollo Sostenible" %}</div>
                </a>
            </li>
            <li class="">
                <a href="{% url 'materialidad' %}?target=objetivos">
                    <div>{% trans "Afiliaciones" %}</div>
                </a>
            </li>
            <li class="">
                <a href="{% url 'materialidad' %}?target=actualizacion-sus">
                    <div>{% trans "Certificaciones" %}</div>
                </a>
            </li> 
            <li class="">
                <a href="{% url 'materialidad' %}?target=descargable">
                    <div>{% trans "Centro de Reportes" %}</div>
                </a>
            </li>
        </ul>
    </li>

    <li class="sub">
        <a href="{% url 'ambiental' %}">
            <div>{% trans 'Ambiental' %}</div>
        </a>
      <ul>
            <li class="">
                <a href="{% url 'ambiental' %}?target=gestion_ambiental">
                    <div>{% trans "Gestión Ambiental" %}</div>
                </a>
            </li>
            <li class="">
                <a href="{% url 'ambiental' %}?target=desempeño_ambiental">
                    <div>{% trans "Desempeño Ambiental" %}</div>
                </a>
            </li>
            <li class="">
                <a href="{% url 'ambiental' %}?target=otras_actividades">
                    <div>{% trans "Otras actividades por el Medio Ambiente 2023" %}</div>
                </a>
            </li>  
        </ul>
    </li>
    <li class="sub">
        <a href="{% url 'responsabilidad_social' %}">
            <div>{% trans 'Social' %}</div>
        </a>
      <ul>
            <li class="">
                <a href="{% url 'responsabilidad_social' %}?target=acciones">
                    <div>{% trans "Principales acciones en 2023" %}</div>
                </a>
            </li>
            <li class="">
                <a href="{% url 'responsabilidad_social' %}?target=cultura">
                    <div>{% trans "Cultura de salud y seguridad" %}</div>
                </a>
            </li>
            <li class="">
                <a href="{% url 'responsabilidad_social' %}?target=diversidad">
                    <div>{% trans "Diversidad, equidad e igualdad" %}</div>
                </a>
            </li>
            <li class="">
                <a href="{% url 'responsabilidad_social' %}?target=bienestar">
                    <div>{% trans "Bienestar laboral" %}</div>
                </a>
            </li>
            <li class="">
                <a href="{% url 'responsabilidad_social' %}?target=desarrollo">
                    <div>{% trans "Desarrollo y retención de talento" %}</div>
                </a>
            </li>
        </ul>
    </li>
    <li class="sub">
        <a href="{% url 'gobernanza' %}">
            <div>{% trans 'Gobernanza' %}</div>
        </a>
      <ul>
            <li class="">
                <a href="{% url 'gobernanza' %}?target=gobierno">
                    <div>{% trans "Gobierno Corporativo" %}</div>
                </a>
            </li>
            <li class="">
                <a href="{% url 'gobernanza' %}?target=consejo">
                    <div>{% trans "Consejo de Administración" %}</div>
                </a>
            </li>
            <li class="">
                <a href="{% url 'gobernanza' %}?target=comite">
                    <div>{% trans "Comités" %}</div>
                </a>
            </li>
            <li class="">
                <a href="{% url 'gobernanza' %}?target=etica">
                    <div>{% trans "Ética Corporativa" %}</div>
                </a>
            </li>
            <li class="">
                <a href="{% url 'gobernanza' %}?target=riesgos">
                    <div>{% trans "Gestión de Riesgos" %}</div>
                </a>
            </li>
        </ul>
    </li>

    <li class="sub">
        <a href="{% url 'comunidades' %}">
            <div>{% trans 'Inquilinos' %}</div>
        </a>
        <ul>
            <li class="">
                <a href="{% url 'comunidades' %}?target=gobierno">
                    <div>{% trans "Principales Acciones en 2023" %}</div>
                </a>
            </li>
            <li class="">
                <a href="{% url 'comunidades' %}?target=comunidad">
                    <div>{% trans "Valor a la comunidad" %}</div>
                </a>
            </li>
            <li class="">
                <a href="{% url 'comunidades' %}?target=mapa">
                    <div>{% trans "Presencia Geográfica" %}</div>
                </a>
            </li>
        </ul>
    </li>

    <li class="sub">
        <a href="{% url 'contacto' %}">
            <div>{% trans 'Contacto' %}</div>
        </a>
    </li>
</ul>
