{% load i18n %}
{% load static %}
{% block otherstyles %}
<style>
    .button:hover {
        background-color: #F5BA3D !important;
    }
</style>
{% endblock %}

<section id="slider" class="slider-element slider-parallax revslider-wrap clearfix">
    <div id="rev_slider_579_1_wrapper" class="rev_slider_wrapper" style="padding:0px; min-height: 600px;">
        <div id="rev_slider_579_1" class="rev_slider" style="display:none; min-height: 600px;" data-version="5.1.4">
            <ul>
                <li class="dark" data-transition="fade" data-slotamount="1" data-masterspeed="1500" data-delay="9000"
                    data-thumb="{% static 'images/headers/home_header_1.png' %}" data-fstransition="fade"
                    data-fsmasterspeed="1000" data-fsslotamount="7" data-saveperformance="off" data-title="dos">
                    <img src="{% static 'images/headers/home_header_1.png' %}" role="img"
                         aria-label="first slider presented" alt="video_woman_cover3"
                         data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat">

                    <div class="tp-caption ltl tp-resizeme revo-slider-emphasis-text nopadding noborder"
                         data-x="['center','center','center','center']"
                         data-y="['center','center','center','center']"
                         data-transform_in="x:5;y:0;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:5;skewY:0;opacity:0;s:800;transformPerspective:200;transformOrigin:50% 0%;"
                         data-speed="800"
                         data-fontsize="['35','30','30','25']"
                         data-lineheight="['50','45','45','40']"
                         data-start="1400"
                         data-splitout="none"
                         data-voffset="['70','70','20','30']"
                         data-elementdelay="0.1"
                         data-endelementdelay="0.1"
                         data-endspeed="1000"
                         data-width="[1000, 700, 500, 320]"
                         data-endeasing="Power4.easeIn" style="z-index: 11; white-space:revert;">
                        {% trans 'Impulsamos operaciones sostenibles con eficiencia energética, gestión de recursos y respeto por el entorno.' %}<br/>
                        <a href="{% url 'ambiental' %}"
                        class="button button-border button-rounded button-large noleftmargin topmargin-sm mb-5 border-white text-white">{% trans 'Conoce nuestro compromiso ambiental' %}</a>
                    </div>
                </li>
                <li class="dark" data-transition="fade" data-slotamount="1" data-masterspeed="1500" data-delay="9000"
                    data-thumb="{% static 'images/headers/home_header_2.png' %}" data-fstransition="fade"
                    data-fsmasterspeed="1000" data-fsslotamount="7" data-saveperformance="off" data-title="dos">
                    <img src="{% static 'images/headers/home_header_2.png' %}" alt="video_woman_cover3"
                         data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat">

                    <div class="tp-caption ltl tp-resizeme revo-slider-emphasis-text nopadding noborder"
                         data-x="['center','center','center','center']"
                         data-y="['center','center','center','center']"
                         data-transform_in="x:5;y:0;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:5;skewY:0;opacity:0;s:800;transformPerspective:200;transformOrigin:50% 0%;"
                         data-speed="800"
                         data-fontsize="['35','30','30','25']"
                         data-lineheight="['50','45','45','40']"
                         data-start="1400"
                         data-splitout="none"
                         data-voffset="['70','70','20','30']"
                         data-elementdelay="0.1"
                         data-endelementdelay="0.1"
                         data-endspeed="1000"
                         data-width="[1000, 700, 500, 320]"
                         data-endeasing="Power4.easeIn" style="z-index: 11; font-size: 30px;white-space:revert;">
                        {% trans 'Creemos en el valor de las personas. Fomentamos comunidades sólidas, inclusión y bienestar para todos.' %}
                        <br/>
                        <a href="{% url 'responsabilidad_social' %}"
                        class="button button-border button-rounded button-large noleftmargin topmargin-sm mb-5 border-white text-white">{% trans 'Descubre nuestro impacto social' %}</a>

                    </div>
                </li>
                <li class="dark" data-transition="fade" data-slotamount="1" data-masterspeed="1500" data-delay="9000"
                    data-thumb="{% static 'images/headers/home_header_3.png' %}" data-fstransition="fade"
                    data-fsmasterspeed="1000" data-fsslotamount="7" data-saveperformance="off" data-title="dos">
                    <img src="{% static 'images/headers/home_header_3.png' %}" alt="video_woman_cover3"
                         data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat">
                    <div class="tp-caption ltl tp-resizeme revo-slider-emphasis-text nopadding noborder"
                          data-x="37"
                          data-y="[260,300,340,210]"
                          data-transform_in="x:5;y:0;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:5;skewY:0;opacity:0;s:800;transformPerspective:200;transformOrigin:50% 0%;"
                          data-speed="800"
                          data-fontsize="['35','30','30','15']"
                          data-lineheight="['50','45','45','45']"
                          data-start="1400"
                          data-splitout="none"
                          data-elementdelay="0.1"
                          data-endelementdelay="0.1"
                          data-endspeed="1000"
                          data-width="['1000','900','560','380']"
                          data-height="none"
                          data-endeasing="Power4.easeIn" style="z-index: 11; font-size: 30px;white-space:revert;">
                         {% trans 'Actuamos con integridad, transparencia y responsabilidad, guiando cada decisión con altos estándares éticos.' %}
                         <br/>
                         <a href="{% url 'gobernanza' %}"
                            class="button button-border button-rounded button-large noleftmargin topmargin-sm mb-5 border-white text-white">{% trans 'Consulta nuestro modelo de gobierno' %}</a>
                    </div>
                </li>                
            </ul>
        </div>
    </div>
</section>

