{% extends 'layouts/interior.html' %}
{% load static %}
{% block otherstyles %}

{% endblock %}

{% block wrapper %}
    <section id="content" class="">
        <div class="clearfix">
            <div class="container mt-5 pt-1 mb-0 pb-0">
                <div class="auto-container">
                    <h1 class="text-center tc-blue mt-5 mb-5">Principales Avances</h1>

                    <div class="row clearfix d-flex align-items-center flex-wrap">
                        <div class="col-md-6 wow fadeInUp mb-5 mb-md-0" data-wow-duration="2s">
                            <div class="image display-block-image hidden-xs text-right">
                                <img class="wow fadeInLeft" data-wow-duration="2s"
                                     src="{% static 'images/energia_limpia.png' %}" alt="alternative text">
                            </div>

                        </div>
                        <div class="col-md-6 d-flex" style="align-items: center">
                            <div class="why-choose-text">
                                <h2 class="font-weight-bold">Arranque del Plan de Energía Limpia </h2>
                                <div class="text texto1">
                                    <p class="text-justify">A principios del 2021 iniciamos nuestro
                                        Plan de Energía Limpia, que consiste en la instalación de celdas
                                        fotovoltaicas en todas nuestras autopistas, el cual esperamos
                                        concluir en el 2023. Mediante esta iniciativa buscamos que el
                                        85% de la energía consumida dentro de la organización provenga
                                        de fuentes renovables y amigables con el medio ambiente. </p>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container mb-0 pb-0">
                <div class="auto-container">
                    <div class="row clearfix d-flex align-items-center flex-wrap">
                        <div class="col-md-6">
                            <div class="why-choose-text">
                                <div class="title">
                                    <h2 class="font-weight-bold">Reforestación en el tramo La Gloria-San Fernando de la
                                        autopista Monterrey-Nuevo Laredo</h2>
                                </div>
                                <div class="text mb-4 mb-md-0">
                                    <p class="text-justify">Los trabajos de reforestación en el tramo La Gloria- San
                                        Fernando de la autopista Monterrey-Nuevo Laredo fueron concluidos de acuerdo a
                                        lo establecido
                                        con un proveedor contratado por la Compañía.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 mb-4">
                            <div class="image display-block-image hidden-xs">
                                <img class="wow fadeInRight" data-wow-duration="2s"
                                     src="{% static 'images/reforestacion.png' %}" alt="alternative text">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="content">
    <div class="clearfix">
        <div class="container mb-0 pb-0">
            <div class="auto-container">
                <div class="row clearfix d-flex align-items-center flex-wrap">
                    <div class="col-md-6 wow fadeInUp mb-5 mb-md-0" data-wow-duration="2s">
                        <div class="image display-block-image hidden-xs text-right">
                            <img class="wow fadeInLeft" data-wow-duration="2s"
                                 src="{% static 'images/conservacion.png' %}"
                                 alt="alternative text">
                        </div>
                    </div>
                    <div class="col-md-6 d-flex" style="align-items: center">
                        <div class="why-choose-text">
                            <h2 class="font-weight-bold">Conservación del medio ambiente en Cuyutlán,
                                Colima para la preservación y cuidado de la tortuga </h2>
                            <div class="text texto1">
                                <p class="text-justify">A lo largo de 14 km de playa se busca la
                                    protección de la tortuga en la región de Cuyutlán, dado que algunas de
                                    las especies están en peligro de extinción. Además, se protegen a
                                    los cocodrilos de la zona. Para esta importante actividad contamos con una bióloga
                                    especializada
                                    en manglares para la preservación de la zona.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="auto-container">
                <div class="row clearfix d-flex align-items-center flex-wrap">
                    <div class="col-md-6">
                        <div class="why-choose-text">
                            <div class="title">
                                <h2 class="font-weight-bold">Programa de Bonos de Carbono</h2>
                            </div>
                            <div class="text mb-4 mb-md-0">
                                <p class="text-justify">En plani hemos brindado el apoyo necesario para desarrollar un
                                    programa enfocado
                                    en la certificación del Bosque del Ajusco para obtener bonos de carbono.
                                    Gestionando la cuantificación de los bonos, y en la coordinación del cilo de reintegración 
                                    del capital en nuevas acciones contra el cambio climático.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="image display-block-image hidden-xs">
                            <img class="wow fadeInRight" data-wow-duration="2s"
                                 src="{% static 'images/bosque.png' %}" alt="alternative text">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section id="content">
        <div class="clearfix">
            <div class="container mb-0 pb-0">
                <div class="auto-container">
                    <div class="row clearfix d-flex align-items-center flex-wrap">
                        <div class="col-md-6 wow fadeInUp mb-5 mb-md-0" data-wow-duration="2s">
                            <div class="image display-block-image hidden-xs text-right">
                                <img class="wow fadeInLeft" data-wow-duration="2s"
                                     src="{% static 'images/comunidades.png' %}"
                                     alt="alternative text">
                            </div>
                        </div>
                        <div class="col-md-6 d-flex" style="align-items: center">
                            <div class="why-choose-text">
                                <h2 class="font-weight-bold">Dulce Camino</h2>
                                <div class="text texto1">
                                    <p class="text-justify">En el estado de Morelos participamos en
                                        el apoyo a 18 ejidos de comunidades cañeras al fortalecer alianzas
                                    para derechos de vía de las autopistas consesionarios Jatetelco-Higuerón. Además
                                    dar un asolución parcial a los pagos de expropiación de los ejidos a estos derechos de vía.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="auto-container">
                <div class="row clearfix d-flex align-items-center flex-wrap">
                    <div class="col-md-6">
                        <div class="why-choose-text">
                            <div class="title">
                                <h2 class="font-weight-bold">Pescando Sueños</h2>
                            </div>
                            <div class="text mb-4 mb-md-0">
                                <p class="text-justify">Apoyamos en la elevación del potencial del productivo de los pescadores
                                    de la laguna Cuyutlan, generando un impacto económico, fortaleciendo las capacidades de los pescadores
                                    mediante capacitaciones para el desarrollo de proyectos autosustentables en las actividades del gremio
                                    pesquero.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="image display-block-image hidden-xs">
                            <img class="wow fadeInRight" data-wow-duration="2s"
                                 src="{% static 'images/bosque.png' %}" alt="alternative text">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br><br><br>
        <div class="content-wrap">
            <div class="container">
                <h1 class="text-center tc-blue mt-5 mb-5">Sistema de Gestión Ambiental</h1>

                <p class="text-justify">Contamos con un Sistema de Gestión Ambiental basado en la norma ISO 14001:2015,
                    el
                    cual nos
                    permite
                    identificar, prevenir y controlar las actividades, operaciones y procesos que puedan causar algún
                    impacto sobre el medio ambiente, facilitando la mejora continua de nuestro desempeño ambiental.
                    Tal como se muestra a continuación:</p>

                <div class="text-center">
                    <img class="img-fluid" src="{% static 'images/sistema_gestion_ambiental.png' %}" width="3000"
                         height="3000"
                         alt="">
                </div>

                <h1 class="text-center tc-blue mt-5 mb-5">Cumplimiento Ambiental</h1>
                <p class="text-justify">Todas nuestras actividades, operaciones y procesos cumplen con las legislaciones
                    y
                    normativas en
                    materia de medio ambiente aplicables en donde se ubican cada uno de nuestros proyectos e
                    instalaciones,
                    entre
                    las cuales destacan:</p>

                <div class="text-center">
                    <img class="img-fluid" src="{% static 'images/Leyes1.png' %}" width="1000" height="1000" alt="">
                </div>
                <br><br>
                <div class="row">
                    <div class="col-md-6">
                        <br>
                        <p class="text-justify">Asimismo, gracias a los esfuerzos acumulados a lo largo de los años para
                            mejorar
                            nuestro desempeño
                            ambiental, recientemente logramos renovar el certificado de Calidad Ambiental. Este
                            distintivo
                            es
                            otorgado por el Programa Nacional de Auditoría Ambiental de la Procuraduría Federal de
                            Protección al
                            Ambiente a aquellas empresas que llevan su compromiso con el medio ambiente más allá de lo
                            exigido por
                            la ley de los distintos órdenes de gobierno.</p>
                    </div>
                    <div class="col-md-6">
                        <div class="text-center">
                            <img class="img-fluid" src="{% static 'images/calidad_ambiental.png' %}" width="250"
                                 height="250"
                                 alt="">
                        </div>
                    </div>

                </div>
                <br><br>
            </div>
        </div>
    </section>
{% endblock %}

{% block otherscripts %}
{% endblock %}
