{% extends 'layouts/interior.html' %}
{% load static %}

{% block otherstyles %}
    <link rel="stylesheet" href="{% static 'stylesheets/david.css' %}">
    <link rel="stylesheet" href="{% static 'stylesheets/tania.css' %}">
    <link rel="stylesheet" href="{% static 'stylesheets/swiper.min.css' %}">
    <link rel="stylesheet" href="{% static 'stylesheets/timeline.css' %}">
    <link rel="stylesheet" href="{% static 'stylesheets/css/rs-plugin/settings.css' %}">
    <link rel="stylesheet" href="{% static 'stylesheets/css/rs-plugin/layers.css' %}">
    <link rel="stylesheet" href="{% static 'stylesheets/css/rs-plugin/navigation.css' %}">

    <style>
        
        #cadena button {
            transition: all 0.4s ease;
        }
        #cadena button:hover {
            transform: scale(1.15);
            z-index: 999;
        }
        .table td {
            border-top: none;
            padding: 5px;
        }
        :root {
            --cyan: #18C9C9;
            --blue: #2142D0;
            --purple: #A272FF;
            --pink: #CA0995;
            --orange: #FF5D23;
        }
        button.draw h3 {
            color: #69A64D;
            font-size: 20px;
        }
        button.draw p {
            font-size: 30px;
            font-weight: bold;
        }
        button.draw img {
            max-width: 100px;
        }
        button {
            background: none;
            border: 0;
            box-sizing: border-box;
            margin: 1em;
            padding: 1em 2em;
            box-shadow: inset 0 0 0 2px transparent;
            font-size: inherit;
            font-weight: 700;
            position: relative;
            vertical-align: middle;
            cursor: default;
        }
        button:not(:disabled) {
            cursor: default;
        }
        button::before, button::after {
            box-sizing: inherit;
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            border-radius: 10px;
        }
        .draw {
            transition: color 0.25s;
        }
        .draw::before, .draw::after {
            border: 5px solid transparent;
            width: 0;
            height: 0;
        }
        .draw::before {
            top: 0;
            left: 0;
          }
          
          .draw::after {
            bottom: 0;
            right: 0;
          }
          
          .draw.animation-trigger::before,
          .draw.animation-trigger::after {
            width: 100%;
            height: 100%;
          }
          
          .draw-cyan.animation-trigger::before {
            border-top-color: var(--cyan);
            border-right-color: var(--cyan);
            transition:
              width 0.25s ease-out,
              height 0.25s ease-out 0.25s;
          }
          
          .draw-cyan.animation-trigger::after {
            border-bottom-color: var(--cyan);
            border-left-color: var(--cyan);
            transition:
              border-color 0s ease-out 0.5s,
              width 0.25s ease-out 0.5s,
              height 0.25s ease-out 0.75s;
          }

          .draw-blue.animation-trigger::before {
            border-top-color: var(--blue);
            border-right-color: var(--blue);
            transition:
              width 0.25s ease-out,
              height 0.25s ease-out 0.25s;
          }
          
          .draw-blue.animation-trigger::after {
            border-bottom-color: var(--blue);
            border-left-color: var(--blue);
            transition:
              border-color 0s ease-out 0.5s,
              width 0.25s ease-out 0.5s,
              height 0.25s ease-out 0.75s;
          }

          .draw-purple.animation-trigger::before {
            border-top-color: var(--purple);
            border-right-color: var(--purple);
            transition:
              width 0.25s ease-out,
              height 0.25s ease-out 0.25s;
          }
          
          .draw-purple.animation-trigger::after {
            border-bottom-color: var(--purple);
            border-left-color: var(--purple);
            transition:
              border-color 0s ease-out 0.5s,
              width 0.25s ease-out 0.5s,
              height 0.25s ease-out 0.75s;
          }

          .draw-pink.animation-trigger::before {
            border-top-color: var(--pink);
            border-right-color: var(--pink);
            transition:
              width 0.25s ease-out,
              height 0.25s ease-out 0.25s;
          }
          
          .draw-pink.animation-trigger::after {
            border-bottom-color: var(--pink);
            border-left-color: var(--pink);
            transition:
              border-color 0s ease-out 0.5s,
              width 0.25s ease-out 0.5s,
              height 0.25s ease-out 0.75s;
          }

          .draw-orange.animation-trigger::before {
            border-top-color: var(--orange);
            border-right-color: var(--orange);
            transition:
              width 0.25s ease-out,
              height 0.25s ease-out 0.25s;
          }
          
          .draw-orange.animation-trigger::after {
            border-bottom-color: var(--orange);
            border-left-color: var(--orange);
            transition:
              border-color 0s ease-out 0.5s,
              width 0.25s ease-out 0.5s,
              height 0.25s ease-out 0.75s;
          }
          
          .draw-green.animation-trigger::before {
            border-top-color: var(--green);
            border-right-color: var(--green);
            transition:
              width 0.25s ease-out,
              height 0.25s ease-out 0.25s;
          }
          
          .draw-green.animation-trigger::after {
            border-bottom-color: var(--green);
            border-left-color: var(--green);
            transition:
              border-color 0s ease-out 0.5s,
              width 0.25s ease-out 0.5s,
              height 0.25s ease-out 0.75s;
          }

        .p-0 {
            padding: 0 !important;
        }

        .container-time {
            position: relative;
        }

        .fixed-title {
            position: absolute;
            top: 0;
            left: 15px;
            z-index: 10;
        }

        h3 .text-center {
            margin-bottom: .5rem;
            font-family: inherit;
            font-weight: 500;
            line-height: 1.2;
            color: inherit;
        }

        .card {
            position: relative;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-direction: column;
            flex-direction: column;
            min-width: 0;
            word-wrap: break-word;
            background-color: #fff;
            background-clip: border-box;
            border: 1px solid rgba(0, 0, 0, .125);
            border-radius: .25rem;
        }

        .boton {
            color: #0b0b0b;
            background-color: #D1D1D1;
            border-color: #D1D1D1;
        }
        .boton:hover {
            color: #ffffff;
            background-color: #232323;
            border-color: #232323;
        }
        img {
            max-width: 100%;
            border-style: none;
        }

        img, svg {
            vertical-align: middle;
        }
        
        .card-title {
            margin-bottom: .75rem;
        }

        #consec .cards:hover {
            -webkit-transform: translateY(-10px);
            -ms-transform: translateY(-10px);
            transform: translateY(-10px);
            background-color: #79B928;
        }

        #consec .cards {
            -webkit-transition: 0.1s ease-in;
            -o-transition: 0.1s ease-in;
            transition: 0.1s ease-in;
        }

        {#HISTORIA#}
        .honeycomb-wrapper .tile .honeycomb {
            height: 150px;
        }

        .honeycomb-wrapper .count {
            background-color: transparent;
        }

        {#AGUAS#}
        .downloadv2 {
            background-position: center;
            background-size: cover;
            min-height: 400px;
            width: 100%;
            padding: 30px;
        }
        .border-radius-30 {
            border-radius: 30px;
        }
        .texto-animacion {
            text-align: center;
            color: white;
            margin: 0;
        }
        .item-hover .img-bg {
            transition: all 1s ease-out;
        }

        .item-hover .show-desc {
            -webkit-transition: opacity 0.5s ease;
            opacity: 0;
            height: 0;
            overflow: hidden;
            padding-top: 0;
            min-height: unset;

        }

        .item-hover .show-desc img {
            width: 30%;
        }

        .item-hover:hover .show-desc {
            opacity: 1;
            height: auto;
            padding-top: 0px;
            min-height: 150px;

        }
        .item-hover:hover .img-bg {
            opacity: 0;
            display: block;
            height: 0;
            width: 0;
            padding: 0;
            min-height: unset;

        }
        .icon_container {
            background-position: top center;
            background-size: 10rem;
            min-height: 150px;
            background-repeat: no-repeat;
            padding-top: 120px;

        }
        .icon_container h4 {
            padding-top: 4rem;
        }

        {#QUIENES SOMOS?#}

        .square1 {
            background-image: url({% static 'images/ambiental/hectareas_reforestadas.jpg' %});
            background-size: cover;
            background-repeat: no-repeat;
        }
        .square2 {
            background-image: url({% static 'images/ambiental/liberacion_tortugas.jpg' %});
            background-size: cover;
            background-repeat: no-repeat;
        }
        .square4 {
            background-image: url({% static 'images/ambiental/reproduccion_especies.jpg' %});
            background-size: cover;
            background-repeat: no-repeat;
        }
        .item-content {
            position: absolute;
            top: 10%;
            left: 10%;
            width: 80%;
            height: 80%;
            background-color: rgba(0, 0, 0, 0.6);
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            color: white;
            text-align: center;
            opacity: 0;
            transition: opacity 0.5s ease-out;
            border-radius: 8px;
        }

        .square1, .square2, .square4 {
            position: relative;
            width: 100%;
            overflow: hidden;
            aspect-ratio: 1 / 1;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            background-size: cover;
            background-position: center;
            padding: 20px;
            max-height: 235.5px;
        }

        .square1:hover .item-content,
        .square2:hover .item-content,
        .square4:hover .item-content {
            opacity: 1;
        }
        .timeline-year {
            font-size: 40px;
            text-align: center;
            line-height: 1.2; /* Ajusta la separación de líneas */
        }
        .swiper-slide-content {
            position: relative;
            color: white;
            padding: 20px;
            text-align: center;
        }
         #cifras_relevantes_energia .honeycomb-wrapper .tile .honeycomb .honeycomb-path circle {
            stroke: #56AD71 !important;
        }
         h1{
             font-weight: 600!important;
         }

    </style>
{% endblock %}

{% block wrapper %}
<div class="content-wrap">
    <div class="container">
        <div id="gestion_ambiental" class="wow fadeInUp" data-wow-duration="1s">
            <h1 class="text-center pt-5 mb-5" style="color: #2B2B2B;">Energy Performance</h1>
            <p class="text-justify" data-wow-duration="1s">
                At Industrial Gate, we implement strategies focused on optimizing energy use in our operations, prioritizing efficiency and the adoption of technologies that reduce our consumption and associated emissions.
            </p>
            <p class="text-justify" data-wow-duration="1s">
                Our developments incorporate high-efficiency LED lighting systems, low-energy equipment, and automation solutions that allow for more precise resource control.
            </p>
            <p class="text-justify" data-wow-duration="1s">
                Likewise, we continuously monitor key energy performance indicators (KPIs), which allows us to identify areas for improvement, reduce operating costs, and minimize our environmental footprint, in line with criteria established by certifications such as EDGE and LEED.
            </p>
        </div>
        <div class="col-md-12 col-sm-12 px-5 d-flex justify-content-center">
            <div id="chart1" style="height: 500px;width:1000px;left: 0.5px;"></div>
        </div>
    </div>

    <div class="container">
        <div id="gestion_ambiental" class="wow fadeInUp" data-wow-duration="1s">
            <h1 class="text-center pt-5 mb-5" style="color: #2B2B2B;">Water Performance</h1>
            <p class="text-justify" data-wow-duration="1s">
                Aware of the importance of water as an essential resource, we have adopted measures to responsibly manage its consumption in our facilities.
                        </p>
            <p class="text-justify" data-wow-duration="1s">
                In our industrial developments, we incorporate rainwater harvesting and utilization systems, water-saving fixtures, and technologies that allow for the reuse of the resource for irrigation and other non-potable uses.
            </p>
            <p class="text-justify" data-wow-duration="1s">
                Regular monitoring of our consumption helps us implement continuous improvements, ensuring that our operations maintain a responsible water balance and contribute to Sustainable Development Goal 6 (Clean Water and Sanitation).
            </p>
        </div>
        <div class="col-md-12 col-sm-12 px-5 d-flex justify-content-center">
            <div id="chart6" style="height: 500px;width:1000px;left: 0.5px;"></div>
        </div>
    </div>
    <div class="container">
        <div id="gestion_ambiental" class="wow fadeInUp" data-wow-duration="1s">
            <h1 class="text-center pt-5 mb-5" style="color: #2B2B2B;">Emissions</h1>
            <p class="text-justify" data-wow-duration="1s">
                Reducing greenhouse gas (GHG) emissions is a priority in our environmental strategy.
            </p>
            <p class="text-justify" data-wow-duration="1s">
                At Industrial Gate, we periodically measure our carbon footprint, considering scopes 1 and 2, with the goal of establishing clear reduction targets and adopting concrete measures to achieve them.
            </p>
            <p class="text-justify" data-wow-duration="1s">
                Our actions include the use of materials with lower environmental impact, the promotion of clean energy, and the optimization of logistics processes to reduce travel and energy consumption.
            </p>
            <p class="text-justify" data-wow-duration="1s">
                With these actions, we advance towards cleaner operations aligned with global commitments to climate change mitigation.
            </p>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-6 px-5 d-flex justify-content-center">
                <div id="chart7" style="height: 500px;width:100%;left: 0.5px;"></div>
            </div>
            <div class="col-md-6 col-sm-6 px-5 d-flex justify-content-center">
                <div id="chart8" style="height: 500px;width:100%;left: 0.5px;"></div>
            </div>
        </div>
    </div>
    <div class="container">
        <div id="gestion_ambiental" class="wow fadeInUp" data-wow-duration="1s">
            <h1 class="text-center pt-5 mb-5" style="color: #2B2B2B;">Waste Management</h1>
            <p class="text-justify" data-wow-duration="1s">
                Responsible waste management is a key pillar of our sustainability strategy. We promote responsible handling practices, such as proper waste disposal and the identification of management and recovery options for each type of waste. These actions have been promoted both internally and administratively, as well as with our tenants and suppliers through communications and training.
            </p>
            <p class="text-justify" data-wow-duration="1s" style="margin-bottom: 0px !important; padding-bottom: 50px;">
                In line with continuous improvement, we will begin formal waste measurement at our properties. This step will allow us to establish baselines and design more effective management strategies in the short and medium term.
            </p>
            
        </div>
        <!-- <div class="col-md-12 col-sm-12 px-5 d-flex justify-content-center">
            <div id="chart1" style="height: 500px;width:1000px;left: 0.5px;"></div>
        </div> -->
    </div>
    
    <!--<section class="container">
        <h1 class="text-center mt-3 wow fadeInUp" style="color: #79B928;">Principales acciones en 2023</h1>
        <div id="consec" class="row m-t-40 justify-content-between my-4">
            <div class="col-md-6 col-sm-12 card cards mb-3 card-shadow" data-aos="zoom-in" data-aos-duration="1200">
                <div class="row no-gutters">
                    <div class="col-md-4 d-flex align-items-center">
                        <img src="/static/images/nueva_estrategia_sustentabilidad.png" class="card-img" alt="Inversion">
                    </div>
                    <div class="col-md-8">
                        <div class="">
                            <h2 class="card-title tc-black text-center">Nueva Estrategia de Sustentabilidad</h2>
                            <p class="font-medium text-justify">Se incluyeron objetivos cuantitativos relacionados con emisiones de gases de
                                efecto invernadero y economía circular.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-12 card cards mb-3 card-shadow" data-aos="zoom-in" data-aos-duration="1200">
                <div class="row no-gutters">
                    <div class="col-md-4 d-flex align-items-center">
                        <img src="/static/images/intensidad_gases.png" class="card-img" alt="Inversion">
                    </div>
                    <div class="col-md-8">
                        <div class="">
                            <h2 class="card-title tc-black text-center">Intensidad de Gases de Efecto Invernadero</h2>
                            <p class="font-medium text-justify">Se redujo la intensidad de emisiones de gases de efecto invernadero del Grupo en 24% con respecto al 2022.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-12 card cards mb-3 card-shadow" data-aos="zoom-in" data-aos-duration="1200">
                <div class="row no-gutters">
                    <div class="col-md-4 d-flex align-items-center">
                        <img src="/static/images/volumen_extraccion.png" class="card-img" alt="Inversion">
                    </div>
                    <div class="col-md-8">
                        <div class="">
                            <h2 class="card-title tc-black text-center">Volumen de Extracción de Aguas Negras</h2>
                            <p class="font-medium text-justify">Se incrementó el volumen de extracción de aguas negras o tratadas del Grupo en
                                52% con respecto al 2022.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-12 card cards mb-3 card-shadow" data-aos="zoom-in" data-aos-duration="1200">
                <div class="row no-gutters">
                    <div class="col-md-4 d-flex align-items-center">
                        <img src="/static/images/planta_tratamiento.png" class="card-img" alt="Inversion Concession">
                    </div>
                    <div class="col-md-8">
                        <div class="">
                            <h2 class="card-title tc-black text-center">Planta de Tratamiento de Aguas Negras</h2>
                                <p class="font-medium text-justify">La Planta de Tratamiento de Aguas Negras en IQUISA Santa Clara extrajo el 38% del volumen de extracción de agua requerido para sus operaciones.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
   <div id="ihistoria">
        <div class="container-time">
            <h1 class="text-white ml-3 fixed-title" style="font-size: 50px">Casos de aplicación</h1>
            <div class="timeline">
                <div class="swiper-container swiper-container-vertical">
                    <div class="swiper-wrapper" style="transition-duration: 0ms; transform: translate3d(0px, 0px, 0px);">
                        <div class="swiper-slide swiper-slide-active" style="background-image: url({% static 'images/ambiental/incineracion_gases.jpg' %});  height: 600px;" data-year="Incineración</br>de Gases">
                            <div class="swiper-slide-content">
                                <span class="timeline-year"><strong>Incineración de Gases Fluorados en Quimobásicos</strong></span>
                                <p style="font-size: 24px">Desde mayo de 2022, Quimobásicos utiliza tecnología de arco plasma de argón para
                                    el control y destrucción de gases fluorados, operando dos unidades de manera
                                    estable todo 2023.</p>
                            </div>
                        </div>
                        <div class="swiper-slide swiper-slide-next" style="background-image: url({% static 'images/ambiental/uso_calderas.png' %}); height: 600px;" data-year="Uso de</br>calderas">
                            <div class="swiper-slide-content">
                                <span class="timeline-year"><strong>Uso de calderas híbridas</strong></span>
                                <p style="font-size: 24px">Desde 2022, en la planta de IQUISA Santa Clara, se opera una caldera híbrida que
                                    combina gas natural e hidrógeno como combustible, estabilizando su operación en
                                    2023.</p>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-button-prev swiper-button-disabled"></div>
                    <div class="swiper-button-next"></div>
                    <div class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets"><span class="swiper-pagination-bullet swiper-pagination-bullet-active">2024</span><span class="swiper-pagination-bullet">2024</span></div>
                </div>
            </div>
        </div>
   </div> 
</div>
    <div class="container">
        <div id="desempeño_ambiental" class="wow fadeInUp" data-wow-duration="1s">
            <h1 class="text-center mt-5 mb-5" style="color: #2B2B2B;">Desempeño Ambiental</h1>
            <h1 class="text-center mt-5 mb-5" style="color: #79B928;">Emisiones de C0<sub>2</sub></h1>
            <p class="text-justify wow fadeInUp pb-5" data-wow-duration="1s">
                Parte de los esfuerzos estratégicos de CYDSA durante 2023 fue la selección de la reducción de
                emisiones netas de gases de efecto invernadero como una de sus prioridades principales declaradas en
                el Modelo de Sustentabilidad.
            </p>
            <div class="col-md-12 col-sm-12 px-5 d-flex justify-content-center">
                <div id="chart1" style="height: 500px;width:1000px;left: 0.5px;"></div>
            </div>
            <p class="text-justify wow fadeInUp pt-3 pb-3" data-wow-duration="1s">
                En comparación con 2022, hubo un <strong style="color: #232323">decremento de emisiones directas en 2023 del 35.7% </strong>. También se
                registró una <strong style="color: #232323">reducción del 62.5% en las emisiones totales contra el año base (2018)</strong> a pesar de haber
                seguido creciendo la operación con el tiempo. Estos logros fueron posibles gracias a las reducciones
                agregadas de las distintas iniciativas que aportan a la mitigación y reducción de emisiones.
            </p>
            <div class="row s-block pt-3">
            <div class="col-12">
                <a rel="noreferrer" href="https://investorcloud.s3.amazonaws.com/Cydsa/Tabla_GEI.xlsx"
                   class="btn btn-lg pull-right boton" target="_blank"><i class="fa fa-download"></i>
                    Descargar en formato xlsx</a>
            </div>
        </div>
    </div>

    <section id="emisiones">
        <div class="container py-5">
            <h1 class="text-center mt-5 mb-5" style="color: #79B928;">Consumo y Gestión Energética</h1>
            <p class="text-justify">Como un segundo tema crítico de acuerdo con el estudio de materialidad, la gestión
                energética en CYDSA ha conllevado <strong>beneficios ambientales y económicos</strong> para todos los negocios. El uso de energía generada por las plantas de Cogeneración ha representado una ventaja competitiva para el Grupo.</p>

            <div id="cifras_relevantes_energia" class="pt-3 pb-3 finn-counto">
                <div class="container">
                    <div class="section-title mb-3 text-center">
                        <h3 class="title-effect">Energía (miles de Gigajoules)</h3>
                    </div>
                    <div class="row honeycomb-wrapper justify-content-center">
                        <div class="col-md-3 tile">
                            <div class="honeycomb">
                                <svg class="honeycomb-path honeycomb-1" xmlns="http://www.w3.org/2000/svg"
                                     width="150" viewBox="0 0 160 160">
                                    <circle cx="80" cy="80" r="75" stroke-width="2" fill="none"></circle>
                                </svg>
                                <div class="content">
                                    <h3 style="transform: translate(-50%, -50%) !important;" class="count"
                                        data-speed="1500" data-to="9088" data-in-viewport="yes"
                                        data-decimals="0">9,088</h3><span class="title-effect "></span>
                                </div>
                            </div>
                            <h5 class="text-center"><b>Consumo total de energía de la organización</b></h5>
                        </div>
                        <div class="col-md-3 tile">
                            <div class="honeycomb">
                                <svg class="honeycomb-path honeycomb-1" xmlns="http://www.w3.org/2000/svg"
                                     width="150" viewBox="0 0 160 160">
                                    <circle cx="80" cy="80" r="75" stroke-width="2" fill="none"></circle>
                                </svg>
                                <div class="content">
                                    <h3 class="count" style="transform: translate(-50%, -50%) !important;"
                                        data-speed="1500" data-to="9055" data-in-viewport="yes"
                                        data-decimals="0">9,055</h3><span class="title-effect "></span>
                                </div>
                            </div>
                            <h5 class="text-center"><b>Consumo de fuentes no renovables</b></h5><br>
                        </div>
                        <div class="col-md-3 tile">
                            <div class="honeycomb">
                                <svg class="honeycomb-path honeycomb-1" xmlns="http://www.w3.org/2000/svg"
                                     width="150" viewBox="0 0 160 160">
                                    <circle cx="80" cy="80" r="75" stroke-width="2" fill="none"></circle>
                                </svg>
                                <div class="content">
                                    <h3 class="count" style="transform: translate(-50%, -50%) !important;"
                                        data-speed="1500" data-to="248" data-in-viewport="yes"
                                        data-decimals="0">248</h3><span class="title-effect "></span>
                                </div>
                            </div>
                            <h5 class="text-center"><b>Consumo de fuentes renovables</b><br></h5>
                        </div>
                        <div class="col-md-3 tile">
                            <div class="honeycomb">
                                <svg class="honeycomb-path honeycomb-1" xmlns="http://www.w3.org/2000/svg"
                                     width="300" viewBox="0 0 160 160">
                                    <circle cx="80" cy="80" r="75" stroke-dasharray="10,10" fill="none"></circle>
                                </svg>
                                <div class="content">
                                    <h3 class="count font-weight-bolder"
                                        style="color:#2892EC; transform: translate(-50%, -50%) !important;"
                                        data-speed="1500" data-to="5.41"
                                        data-in-viewport="yes"
                                        data-decimals="2">5.41</h3><span
                                        class="title-effect "></span>
                                </div>
                            </div>
                            <h5 class="text-center"><b>Intensidad de consumo por unidad de producción (Gj/ton)</b></h5>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
             <div class="col-12">
                <a rel="noreferrer" href="https://investorcloud.s3.amazonaws.com/Cydsa/Tabla_Consumo_Energetico.xlsx "
                   class="btn btn-lg pull-right boton" target="_blank"><i class="fa fa-download"></i>
                    Descargar en formato xlsx</a>
            </div>
        </div>
    </section>

<div class="container">
    <div id="gestion_agua" class="wow fadeInUp" data-wow-duration="1s">
        <h1 class="text-center mt-5 mb-5" style="color: #79B928;">Gestión del Agua</h1>
        <p class="text-justify wow fadeInUp" data-wow-duration="1s">
            CYDSA está comprometida con llevar una gestión responsable del agua, dando prioridad a su conservación en las comunidades en las que opera.
        </p>
        <article id="downloadv2">
            <div class="container resized pl-0">
                <div class="row">
                    <div class="col-12 pt-4 pr-0">
                        <div class="downloadv2 border-radius-30"
                             style="background-image: url({% static 'images/ambiental/agua_elemento.jpg' %}) ">
                            <div class="row d-flex justify-content-center align-content-center">
                                <div class="col-md-4 brw bbw p-0">
                                    <div class="content p-3 item-hover">
                                        <div class="icon_container img-bg" style="
                                                width: 100%;
                                                background-image: url({% static 'images/ambiental/agua_recirculada.png' %})">
                                            <h4 class="text-white text-center">
                                                Agua consumida recirculada
                                            </h4>
                                        </div>
                                        <div class="icon_container show-desc text-center">
                                            <img src="/static/images/ambiental/agua_recirculada.png"
                                                 alt="eventos relevantes">
                                            <p class="texto-animacion text-white">
                                                1,919,606 m<sup>3</sup> (44.2%)
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 brw bbw p-0">
                                    <div class="content p-3 item-hover">
                                        <div class="icon_container img-bg"
                                             style="width: 100%;background-image: url({% static 'images/ambiental/agua_extraida.png' %})">
                                            <h4 class="text-white text-center">
                                                Agua extraída por plantas
                                            </h4>
                                        </div>
                                        <div class="icon_container show-desc text-center">
                                            <img src="/static/images/ambiental/agua_extraida.png"
                                                 alt="eventos relevantes">
                                            <p class="texto-animacion text-white">
                                                4,777,124 m<sup>3</sup>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 bbw p-0">
                                    <div class="content p-3 item-hover">
                                        <div class="icon_container img-bg"
                                             style="width: 100%;background-image: url({% static 'images/ambiental/agua_vertida.png' %})">
                                            <h4 class="text-white text-center">
                                                Agua vertida por plantas
                                            </h4>
                                        </div>
                                        <div class="icon_container show-desc text-center">
                                            <img src="/static/images/ambiental/agua_vertida.png"
                                                 alt="eventos relevantes">
                                            <p class="texto-animacion text-white">
                                                430,092 m<sup>3</sup>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 brw p-0">
                                    <div class="content p-3 item-hover">
                                        <div class="icon_container img-bg"
                                             style="width: 100%;background-image: url({% static 'images/ambiental/agua_estres_hidrico.png' %})">
                                            <h4 class="text-white text-center">
                                                Agua consumida procedente de zonas con estrés hídrico
                                            </h4>
                                        </div>
                                        <div class="icon_container show-desc text-center">
                                            <img src="/static/images/ambiental/agua_estres_hidrico.png"
                                                 alt="eventos relevantes">
                                            <p class="texto-animacion text-white">
                                                1,018,597 m<sup>3</sup> (23.4%)
                                            </p>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-md-4 brw p-0">
                                    <div class="content p-3 item-hover">
                                        <div class="icon_container img-bg"
                                             style="width: 100%;background-image: url({% static 'images/ambiental/agua_recirculada_2018.png' %})">
                                            <h4 class="text-white text-center">
                                                Agua consumida recirculada vs. 2018
                                            </h4>
                                        </div>
                                        <div class="icon_container show-desc text-center">
                                            <img src="/static/images/ambiental/agua_recirculada_2018.png"
                                                 alt="eventos relevantes">
                                            <p class="texto-animacion text-white">
                                                +58.9%
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </article>
    </div>
</div>
    <div class="container">
        <div id="consumo_agua" class="wow fadeInUp mt-5" data-wow-duration="1s">
            <h2 class="text-center wow fadeInUp mb-0" data-wow-duration="1s" style="color: #69A64D;"><b>
                Consumo total de agua en miles de metros cúbicos</b></h2>
            <div class="row justify-content-center">
                <div class="d-flex justify-content-center col-md-12">
                    <button class="d-block draw draw-purple finn-counto">
                        <img src="{% static 'images/ambiental/iconoAgua.png' %}">
                        <h1 style="color: #2792ec;" class="text-center mb-0">2018</h1>
                        <p class="count mb-0 feature-card-desc number" data-to="4815" data-speed="1500"
                           data-decimals="0" data-delay="1500" data-porcent="false">0
                        </p>
                    </button>
                    <button class="d-block draw draw-pink finn-counto">
                        <img src="{% static 'images/ambiental/iconoAgua.png' %}">
                        <h1 style="color: #2792ec;" class="text-center mb-0">2019</h1>
                        <p class="count mb-0 feature-card-desc number" data-to="4862" data-speed="1500"
                           data-decimals="0" data-delay="1500" data-porcent="false">0
                        </p>
                    </button>
                    <button class="d-block draw draw-blue finn-counto">
                        <img src="{% static 'images/ambiental/iconoAgua.png' %}">
                        <h1 style="color: #2792ec;" class="text-center mb-0">2020</h1>
                        <p class="count mb-0 feature-card-desc number" data-to="3548" data-speed="1500"
                           data-decimals="0" data-delay="1500" data-porcent="false">0
                        </p>
                    </button>
                    <button class="d-block draw draw-cyan finn-counto">
                        <img src="{% static 'images/ambiental/iconoAgua.png' %}">
                        <h1 style="color: #2792ec;" class="text-center mb-0">2021</h1>
                        <p class="count mb-0 feature-card-desc number" data-to="3366" data-speed="1500"
                           data-decimals="0" data-delay="1500" data-porcent="false">0
                        </p>
                    </button>
                    <button class="d-block draw draw-orange finn-counto">
                        <img src="{% static 'images/ambiental/iconoAgua.png' %}">
                        <h1 style="color: #2792ec;" class="text-center mb-0">2022</h1>
                        <p class="count mb-0 feature-card-desc number" data-to="4183" data-speed="1500"
                           data-decimals="0" data-delay="1500" data-porcent="false">0
                        </p>
                    </button>
                    <button class="d-block draw draw-green finn-counto">
                        <img src="{% static 'images/ambiental/iconoAgua.png' %}">
                        <h1 style="color: #2792ec;" class="text-center mb-0">2023</h1>
                        <p class="count mb-0 feature-card-desc number" data-to="4347" data-speed="1500"
                           data-decimals="0" data-delay="1500" data-porcent="false">0
                        </p>
                    </button>
                </div>
                <h2 class="text-center wow fadeInUp mb-3" data-wow-duration="1s" style="color: #69A64D;"><b>
                Variación % 2018-2023: <span style="color: #444;">-9.7%</span></b></h2>
            </div>
            
            <div class="col-12 pt-5 pb-5">
                <a rel="noreferrer" href="https://investorcloud.s3.amazonaws.com/Cydsa/Tabla_Gestion_Agua.xlsx"
                   class="btn btn-lg pull-right boton" target="_blank"><i class="fa fa-download"></i>
                    Descargar en formato xlsx</a>
            </div>
        </div>
    </div>
    </div>
    <div class="container">
        <div id="residuos" class="wow fadeInUp" data-wow-duration="1s">
            <h1 class="text-center mt-5 mb-5" style="color: #79B928;">Residuos y Reciclaje</h1>
            <p class="text-justify wow fadeInUp" data-wow-duration="1s">
                El manejo de residuos es fundamental cuando se busca hacer uso eficiente de los recursos. Es por ello que
                CYDSA cuenta con un <strong>Plan de Manejo de Residuos Peligrosos</strong> y un <strong>Plan de Manejo de Residuos de Manejo
                Especial</strong>, con el objetivo de evitar la generación de impactos adversos en la sociedad y el entorno.
            </p>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12 px-5 d-flex justify-content-center">
                <p class="wow fadeInUp" style="font-size: 28px; text-align: center!important;">Residuos en toneladas totales (ton)</p>
            </div>
            <div class="col-md-3 col-sm-12 px-5 d-flex justify-content-center">
                <div id="chart2" style="height: 300px; width: 100%;"></div>
            </div>
            <div class="col-md-3 col-sm-12 px-5 d-flex justify-content-center">
                <div id="chart3" style="height: 300px; width: 100%;"></div>
            </div>
            <div class="col-md-3 col-sm-12 px-5 d-flex justify-content-center">
                <div id="chart4" style="height: 300px; width: 100%;"></div>
            </div>
            <div class="col-md-3 col-sm-12 px-5 d-flex justify-content-center">
                <div id="chart5" style="height: 300px; width: 100%;"></div>
            </div>
            <div class="col-12 pt-5 pb-5">
                    <a rel="noreferrer" href="https://investorcloud.s3.amazonaws.com/Cydsa/Tabla_Residuos.xlsx"
               class="btn btn-lg pull-right boton" target="_blank"><i class="fa fa-download"></i>
                Descargar en formato xlsx</a>
            </div>
        </div>
    </div>
     <section class="content-wrap">
            <div id="otras_actividades" class="container" style="padding: 50px 0">
                <div class="row">
                    <div class="col-lg-6 wow fadeInUp d-flex mt-3 mt-lg-0 bg-blue p-4 d-flex flex-column align-items-center justify-content-center text-center" data-wow-duration="2s" data-wow-delay="0.2s" style="background-color: #F5BA3D; visibility: visible; animation-duration: 2s; animation-delay: 0.2s; animation-name: fadeInUp;">
                        <h1 class="text-white">
                            Otras actividades por el medio ambiente 2023
                        </h1>
                        <p class="text-white">
                            CYDSA llevó a cabo varias actividades en favor de la naturaleza, particularmente en los rubros
                            de biodiversidad y conservación. Durante el 2023, se lanzó un programa de reforestación en
                            Chipinque y otro de conservación de la tortuga Lora en Veracruz.  
                        </p>
                    </div>
                    <div class="col-lg-6 pl-0 pl-lg-3 pr-0 pr-lg-3">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 wow fadeInUp pl-0 pl-md-3 pl-lg-0 mb-3 mb-sm-0 pr-0 pr-sm-3" data-wow-duration="2s" data-wow-delay="0.2s" style="visibility: visible; animation-duration: 2s; animation-delay: 0.2s; animation-name: fadeInUp;">
                                <div class="square1">
                                    <span class="item-content">
                                        <strong class="item-title text-center">32.54 hectáreas reforestadas 2016-2023</strong>
                                    </span>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 wow fadeInUp pr-0 pr-md-3 pl-lg-0 pl-0 pl-sm-3" data-wow-duration="2s" data-wow-delay="0.2s" style="visibility: visible; animation-duration: 2s; animation-delay: 0.2s; animation-name: fadeInUp;">
                                <div class="square2">
                                    <span class="item-content">
                                        <strong class="item-title text-center">Liberación de tortugas en la última temporada de anidación</strong>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="row pt-3">
                            <div class="col-lg-12 col-xs-12 wow fadeInUp pr-0 pr-md-3 pl-lg-0 pl-0 pl-sm-3" data-wow-duration="2s" data-wow-delay="0.2s" style="visibility: visible; animation-duration: 2s; animation-delay: 0.2s; animation-name: fadeInUp;">
                                <div class="square4">
                                    <span class="item-content text-center">
                                        <strong class="item-title">Reproducción de 19,300 plantas de especies nativas</strong>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 pt-5">
                        <a rel="noreferrer" href="https://investorcloud.s3.amazonaws.com/Cydsa/Tabla_Produccion_Vivero.xlsx"
                           class="btn btn-lg pull-right boton" target="_blank"><i class="fa fa-download"></i>
                            Descargar en formato xlsx</a>
                    </div>
                </div>
            </div>
     </section>-->
    
{% endblock %}

{% block otherscripts %}
    <script src="{% static 'javascripts/amcharts/amcharts.js' %}"></script>
    <script src="{% static 'javascripts/amcharts/serial.js' %}"></script>
    <script src="{% static 'javascripts/amcharts/pie.js' %}"></script>
    <script src="{% static 'javascripts/swiper.min.js' %}"></script>
    <script src="{% static 'javascripts/wow.min.js' %}"></script>
    <script src="{% static 'javascripts/jquery.waypoints.min.js' %}"></script>
    <script src="{% static 'javascripts/countTo.js' %}"></script>
    <script src="{% static 'javascripts/carousel.eventos.js' %}"></script>
    <script src="{% static 'javascripts/amcharts/contenido/ambiental.js' %}"></script>

    
    <script>
        $(document).ready(function () {
             var timelineSwiper = new Swiper('.timeline .swiper-container', {
                direction: 'vertical',
                loop: false,
                speed: 1600,
                pagination: '.swiper-pagination',
                paginationBulletRender: function (swiper, index, className) {
                    var year = document.querySelectorAll('.swiper-slide')[index].getAttribute('data-year');
                    return '<span class="' + className + '">' + year + '</span>';
                },
                paginationClickable: true,
                nextButton: '.swiper-button-next',
                prevButton: '.swiper-button-prev',
                breakpoints: {
                    768: {
                        direction: 'horizontal',
                    }
                }
            });
            
             function numberWithCommas(x) {
                return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
            }
        
            // Initialize counters with waypoints
            $('.finn-counto .count').each(function() {
                var $this = $(this);
                var $button = $this.closest('button');
        
                // Start the honeycomb animation by adding a class to the SVG element
                var animateHoneycomb = function($element) {
                    $element.closest('.honeycomb').find('svg.honeycomb-path').addClass('honeycomb-animated');
                };
        
                $this.waypoint(function() {
                    // Delay the counting to ensure it's visible
                    setTimeout(function(){
                        // Trigger the honeycomb animation
                        animateHoneycomb($this);
                        $button.addClass('animation-trigger');
        
                        $this.countTo({
                            from: 0,
                            to: $this.data('to'),
                            speed: $this.data('speed'),
                            decimals: $this.data('decimals'),
                            onUpdate: function(value) {
                              var prefix = $this.data('prefix') ? $this.data('prefix') + ' ' : '';
                              var isPercent = $this.data('porcent') === true || $this.data('porcent') === "true";
                              var displayValue = isPercent ? value.toFixed($this.data('decimals')) + '%' :
                                numberWithCommas(value.toFixed($this.data('decimals')));
                              $this.text(prefix + displayValue);
                            },
                            onComplete: function(value) {
                              // This ensures the class is only added once at the beginning of counting
                              var prefix = $this.data('prefix') ? $this.data('prefix') + ' ' : '';
                              var isPercent = $this.data('porcent') === true || $this.data('porcent') === "true";
                              var displayValue = isPercent ? value.toFixed($this.data('decimals')) + '%' :
                                numberWithCommas(value.toFixed($this.data('decimals')));
                              $this.text(prefix + displayValue);
                            }
                          });
                    }, $this.data('delay') || 0);
        
                    this.destroy(); // Ensures the animation and counting occur only once
                }, {
                    offset: '80%', // Triggers when the element is 75% from the top of the viewport
                    triggerOnce: true // Counting should only happen once
                });
            });
             
             // Inicialización al cargar la página
            $('.finn-counto').each(function () {
                finn_waypoint('#' + $(this).attr('id')); // Agrega los waypoints
                finn_counto('#' + $(this).attr('id'));   // Inicializa los contadores
            });
            $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
                // Recorre los elementos con la clase .finn-counto y los inicializa de nuevo
                $('.finn-counto').each(function () {
                    finn_waypoint('#' + $(this).attr('id'));
                    finn_counto('#' + $(this).attr('id'));
                });

            });
             
             
            

            function finn_waypoint(elemento) {
                var waypoint = new Waypoint({
                    element: $(elemento),
                    handler: function (direction) {
                        $(elemento + ' .count').trigger('on-appear');
                    },
                    offset: '75%',
                    triggerOnce: true
                })
            }

            function finn_counto(elemento) {
                if ($().countTo) {
                    $(elemento + ' .count').on('on-appear', function () {
                        $(elemento + ' .honeycomb-path.honeycomb-1').addClass('honeycomb-animated');

                        $(this).each(function () {
                            var to = parseFloat($(this).data('to')),
                                speed = parseInt($(this).data('speed')),
                                decimals = parseInt($(this).data('decimals'));

                            $(this).countTo({
                                to: to,
                                speen: speed,
                                decimals: decimals,
                                formatter: function (value, options) {
                                    return value.toFixed(options.decimals).replace(/\B(?=(?:\d{3})+(?!\d))/g, ',');
                                },
                                onComplete: function (value) {
                                    if (value === 1.9)
                                        return this.innerHTML += '%';
                                }

                            });
                        });
                    }); //counter
                }
            }
        });
</script>
{% endblock %}
