{% extends 'layouts/interior.html' %}
{% load static %}

{% block otherstyles %}
    <style>
        .title {
            text-align: center;
            color: #2792ec;
        }

        body {
            overflow: hidden !important;
        }

        .st0 {
            fill: #2792ec;
            stroke: #FFFF;
            stroke-width: 0.5;
            content: "\f041";
            cursor: pointer;

        }

        .mapa .active {
            fill: #2B2B2B;
            stroke: #2B2B2B;
            stroke-width: 0.9;
        }

        .st1 {
            fill: #E0E0E0;
        {#stroke: #2792ec;#} stroke-width: 0.5;
        }

        .st2 {
            fill: #E0E0E0;
            stroke: #FFFFFF;
            stroke-width: 0.75;
        }

        .st4 {
        {#fill: #2792ec;#}{#stroke: #2792ec;#} stroke-width: 0.75;
        }

        .st3 {
            stroke: #fff;
            fill: none;
            cursor: pointer;
        }

        .propiedades-circle {
            border-style: dashed;
            border-color: #2B2B2B;
            padding: 0.5rem;
            text-align: center;
        }

        #propiedades-circle h4, #propiedades-circle h3 {
            margin-bottom: 0;
            margin-top: 0;
        }

        #propiedades-circle ul {
            margin-bottom: 0.5rem;
        }
        .consejo-administracion .miembro:hover .mas {
            top: 0;
        }
        .miembro {
            overflow: hidden;
            position: relative;
        }
        .consejo-administracion .mas {
            width: 40px;
            height: 40px;
            position: absolute;
            top: -40px;
            right: 0;
            background-color: #2892EC;
            transition: all .2s;
        }
        .accordion-cadena .card-header.show a, .accordion-cadena .card-header:hover a {
            color: #fff !important;
            background-color: #2892EC !important;
        }
        
        .btn-primary, .btn-primary:hover {
            color: #fff;
            background-color: #2892EC;
            border-color: #2892EC;
        }
        .accordion-cadena .card-header {
            padding: 0;
            border-bottom: none;
        }
        
        .accordion-cadena .card-header a {
            display: block;
            padding: 10px;
            color: inherit;
            text-decoration: none;
            transition: background-color 0.3s ease, color 0.3s ease;
        }
        
        .accordion-cadena .card-header a:hover,
        .accordion-cadena .card-header a.collapsed:hover,
        .accordion-cadena .card-header a[aria-expanded="true"] {
            color: #fff !important;
            background-color: #79B928 !important;
        }
        .back-color {
                border-color: #79B928;
        }
        
    </style>
{% endblock %}

{% block wrapper %}
    <div class="content-wrap">
        <div class="container pt-5 pb-5">
            <h1 id="gobierno" class="text-center wow fadeInUp" data-wow-duration="2s"
                style="color: #2B2B2B;">
                Principales acciones en 2023</h1>
            <p class="text-justify wow fadeInUp" data-wow-duration="2s">CYDSA colabora con las comunidades aledañas a
                sus operaciones para lograr una relación positiva con ellas, además de colaborar en proyectos locales de
                desarrollo y vela constantemente por su <strong>salud, seguridad y educación</strong>.
            </p>
            <div id="accordion" class="accordion-cadena">
                <div class="card back-color">
                    <div class="card-header">
                        <a class="card-link collapsed" data-toggle="collapse" href="#tap1" aria-expanded="false">
                            <div class="text-bold" style="width: 100%;">
                                CYDSA se mantiene sin notificaciones sobre afectaciones a las comunidades aledañas por operaciones.
                            </div>
                        </a>
                    </div>
                    <div id="tap1" class="collapse" data-parent="#accordion" style="">
                        <div class="card-body d-flex flex-column justify-content-center align-content-center">
                            <div class="justify-content-center align-content-center">
                                <div class="row d-flex  justify-content-center align-content-center">
                                    <div class=" col-8">
                                        <img class="img-fluid" src="/static/images/comunidad/cydsa_mantiene.png">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card back-color">
                    <div class="card-header">
                        <a class="card-link" data-toggle="collapse" href="#tap2">
                            <div class="text-bold" style="width: 100%;">
                                Se mantuvo contacto con las comunidades aledañas para conocer sus expectativas y necesidades.
                            </div>
                        </a>
                    </div>
                    <div id="tap2" class="collapse" data-parent="#accordion">
                        <div class="card-body d-flex flex-column justify-content-center align-content-center">
                            <div class="justify-content-center align-content-center">
                                <div class="row d-flex justify-content-center align-content-center">
                                    <div class="col-8 d-flex justify-content-center align-content-center">
                                        <img class="img-fluid" src="/static/images/comunidad/mantuvo_contacto.png">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <section id="" class=" pt-5">
            <div class="container">
                <div class="row">
                    <div class="section-title text-center w-100">
                    </div>
                    <div class="col-12 consejo-administracion">
                        <div class="d-flex flex-row justify-content-around">
                            <div class="col-6 item cadusel miembro px-5">
                                <h3 class="text-bold" style="color:#232323">Seguridad Operativa con la Comunidad</h3>
                                <div class="font-weight-bold mb-2"></div>
                                <h6></h6>
                                <a class="mas modal-directivo d-flex align-items-center justify-content-center align-content-center"
                                   href="#" data-toggle="modal" data-mdb-toggle="modal" data-mdb-target="#DirectiveModal1"
                                   data-img="/static/images/comunidad/seguridad_operativa.png" data-name="Seguridad Operativa con la Comunidad"
                                   data-position=""
                                   data-description="CYDSA evalúa su perfil de riesgo social para fomentar una convivencia armoniosa con la comunidad, cumpliendo con los más altos estándares de seguridad en el sector, normativas ambientales y un modelo de gestión de riesgos que considera impactos comunitarios.">
                                    <div class=" d-flex align-items-center justify-content-center"><i
                                            class="fa fa-plus text-white"></i></div>
                                </a>
                            </div>
                            <div class="col-6 item cadusel miembro px-5">
                                <h2 class="text-center text-bold" style="color:#232323; font-size: 24px!important;">Comunicación responsable de productos y salud de los consumidores</h2>
                                <div class="font-weight-bold mb-2"></div>
                                <h6></h6>
                                <a class="mas modal-directivo d-flex align-items-center justify-content-center align-content-center"
                                   href="#" data-toggle="modal" data-mdb-toggle="modal" data-mdb-target="#DirectiveModal1"
                                   data-img="/static/images/comunidad/comunicacion_responsable.png" data-name="Comunicación responsable de productos y salud de los consumidores"
                                   data-position=""
                                   data-description="CYDSA establece requisitos específicos para la información y etiquetado de sus productos y servicios para garantizar la seguridad; proporcionando hojas de datos de seguridad que incluyen información sobre riesgos, precauciones y medidas de emergencia.">
                                    <div class=" d-flex align-items-center justify-content-center"><i
                                            class="fa fa-plus text-white"></i></div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Modal -->
            <div class="modal fade" id="DirectiveModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header d-flex justify-content-center align-items-center" style="background-color: #2892EC;">
                            <h3 class="modal-title directivo-name text-bold mb-0 text-white text-center" style="color: #232323; font-size: 24px">
                                Título del modal
                            </h3>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body text-center">
                            <p class="directivo-description">Descripción del modal</p>
                            <img class="directivo-img img-fluid mb-3" style="width: 70%" src="" alt="">
                        </div>
                        <div class="modal-footer d-flex justify-content-center align-items-center">
                            <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div id="comunidad">
        <div class="container pt-5">
            <h1 id="" class="text-center wow fadeInUp" data-wow-duration="2s"
                style="color: #2B2B2B;">
                Valor a la comunidad</h1>
            <p class="text-justify wow fadeInUp" data-wow-duration="2s">El objetivo de valor a la comunidad que emana
                del <strong>Modelo de Sustentabilidad de CYDSA</strong> conlleva la promoción diversas aristas clave:</p>
        </div>
    </div>
    <section id="boxes-index" style="">
        <div class="card-group">
            <div class="card">
                <h3 class="text-white text-bold">FOMENTO A LA SALUD</h3>
                <img class="card-img-top" src="{% static 'images/comunidad/fomento_salud.png' %}" alt="Card image cap">
                <div class="card-body d-flex text-center justify-content-center align-items-center" style="background-color: #F5BA3D !important;">
                    <p>
                        <strong>El cuidado de la salud en las comunidades vecinas es una prioridad para CYDSA, al
                        implementar programas de salud y seguridad dirigidos a comunidades de escasos recursos.</strong>
                    </p>
                </div>
            </div>
            <div class="card">
                <h3 class="text-white text-bold">EDUCACIÓN</h3>
                <img class="card-img-top" src="{% static 'images/comunidad/educacion.png' %}" alt="Card image cap">
                <div class="card-body d-flex text-center justify-content-center align-items-center" style="background-color: #F5BA3D !important;">
                    <p>
                        <strong>CYDSA promueve la educación a partir de aportaciones a iniciativas y programas sobre
                        sensibilización ecológica en escuelas, así como para la mejora de aulas e infraestructura
                        educativa.</strong>
                    </p>
                </div>
            </div>
            <div class="card">
                <h3 class="text-white text-bold">ACTIVIDADES RECREATIVAS Y BIENESTAR</h3>
                <img class="card-img-top" src="{% static 'images/comunidad/actividades_recreativas.png' %}"
                     alt="Card image cap">
                <div class="card-body d-flex text-center justify-content-center align-items-center" style="background-color: #F5BA3D!important;">
                    <p>
                        <strong>CYDSA cuenta con espacios que han impulsado programas de desarrollo y fortalecen la vinculación
                        con la comunidad, facilitando una comunicación constante y una relación cordial con las
                        comunidades vecinas.</strong>
                    </p>
                </div>
            </div>
            <div class="card">
                <h3 class="text-white text-bold">DESARROLLO COMUNITARIO</h3>
                <img class="card-img-top" src="{% static "images/comunidad/desarrollo_comunitario.png" %}"
                     alt="Card image cap">
                <div class="card-body d-flex text-center justify-content-center align-items-center" style="background-color: #F5BA3D !important;">
                    <p>
                    <strong>En colaboración con autoridades y vecinos, CYDSA desarrolló proyectos para mejorar el entorno
                        comunitario mediante reforestación, mantenimiento y capacitación.</strong>
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section id="mapa">
            <div class="container">
                <article class="s-block bg-gray-fmty tierra">
                    <div class="container-fluid container-relative mapa">
                        <h1 id = "total_empleados_region" class="text-center mt-5 mb-5 wow fadeInUp" data-wow-duration="2s" style="color: #2B2B2B;">
                            Presencia Geográfica
                        </h1><br>
                        <div class="row d-flex">
                            <div class="col-md-5 col-11 mt-5 mt-md-0 mr-5">
                                <div class="wow fadeInRight" data-wow-duration="1.5s">
                                    <?xml version="1.0" encoding="utf-8"?>
                                    <!-- Generator: Adobe Illustrator 25.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                                    {% include 'partials/mapa.html' %}
                                </div>
                            </div>
                            <div class="col-md-5 ml-5">
                                <div id="propiedades-circle" class="propiedades-circle wow fadeInLeft ml-5">
                                    <div>
                                        <h3 class="text-bold" id="propiedades-state"></h3>
                                        <div id="propiedades-text"></div>
                                    </div>
                                </div><br>
                                <div class=" wow fadeInLeft ml-5">
                                    <div id="propiedades-text"><p class="text-justify pt-3" style="color: #79B928">
                                        <strong>Con base en San Pedro Garza García, Nuevo León,
                                        México, CYDSA opera a través de más de 20 subsidiarias distribuidas en 9
                                        poblaciones de la nación y comercializa sus productos en más de 15 países a
                                        nivel internacional.</strong></p></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br><br><br>
                </article>
            </div>
        </section>
    </div>
{% endblock %}

{% block otherscripts %}
    <script src="{% static 'javascripts/jquery.waypoints.min.js' %}"></script>
    <script src="{% static 'javascripts/countTo.js' %}"></script>
    <script src="{% static 'javascripts/js/jquery.twbsPagination.min.js' %}"></script>
    <script src="{% static 'javascripts/carousel.eventos.js' %}"></script>
    <script src="{% static 'javascripts/maps-states-mx.js' %}"></script>
    <script>
        $(window).on('load', function () {

            $("path.st0, path.st3")
                .click(function () {
                    let id = $(this).attr("id") ?? $(this).data("id");

                    {#activo css#}
                    $('path.active').removeClass('active');
                    $("#" + id).attr("class", "st0 active");

                    $("#propiedades-circle").attr("style", "opacity:1;left:-40px");
                    {#$("#propiedades-state").text($(this).attr("name"));#}
                    $("#propiedades-state").text(mxStates[id].name);

                    let divText = $("#propiedades-text");
                    divText.empty();
                    let list = mxStates[id].list;
                    if (list.length) {
                        for (let i of list) {
                            divText.append('<h4>' + i.title + '</h4>');
                            if (i.items.length) {
                                let ul = '<ul class="list-group list-unstyled">';
                                for (let j of i.items) {
                                    ul += '<li class="list-unstyled">' + j + '</li>';
                                }
                                ul += '</ul>';
                                divText.append(ul);
                            }
                        }
                    }
                });

            $("[id='MEX2712']").click();
        });
        $(document).ready(function () {
            // Function to format number with commas
            function numberWithCommas(x) {
                return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
            }
        
            // Initialize counters with waypoints
            $('.finn-counto .count').each(function() {
                var $this = $(this);
                var $button = $this.closest('button');
        
                // Start the honeycomb animation by adding a class to the SVG element
                var animateHoneycomb = function($element) {
                    $element.closest('.honeycomb').find('svg.honeycomb-path').addClass('honeycomb-animated');
                };
        
                $this.waypoint(function() {
                    // Delay the counting to ensure it's visible
                    setTimeout(function(){
                        // Trigger the honeycomb animation
                        animateHoneycomb($this);
                        $button.addClass('animation-trigger');
        
                        $this.countTo({
                            from: 0,
                            to: $this.data('to'),
                            speed: $this.data('speed'),
                            decimals: $this.data('decimals'),
                            onUpdate: function(value) {
                              var prefix = $this.data('prefix') ? $this.data('prefix') + ' ' : '';
                              var isPercent = $this.data('porcent') === true || $this.data('porcent') === "true";
                              var displayValue = isPercent ? value.toFixed($this.data('decimals')) + '%' :
                                numberWithCommas(value.toFixed($this.data('decimals')));
                              $this.text(prefix + displayValue);
                            },
                            onComplete: function(value) {
                              // This ensures the class is only added once at the beginning of counting
                              var prefix = $this.data('prefix') ? $this.data('prefix') + ' ' : '';
                              var isPercent = $this.data('porcent') === true || $this.data('porcent') === "true";
                              var displayValue = isPercent ? value.toFixed($this.data('decimals')) + '%' :
                                numberWithCommas(value.toFixed($this.data('decimals')));
                              $this.text(prefix + displayValue);
                            }
                          });
                    }, $this.data('delay') || 0);
        
                    this.destroy(); // Ensures the animation and counting occur only once
                }, {
                    offset: '80%', // Triggers when the element is 75% from the top of the viewport
                    triggerOnce: true // Counting should only happen once
                });
            });
            $(".modal-directivo").click(function (e) {
                e.preventDefault();
                let target = $(e.currentTarget);
                $("#DirectiveModal1 .directivo-img").attr('src', target.data('img'));
                $("#DirectiveModal1 .directivo-name").text(target.data('name'));
                $("#DirectiveModal1 .directivo-description").text(target.data('description'));
                $("#DirectiveModal1 .directivo-position").text(target.data('position'));
                $("#DirectiveModal1").modal('show');
            });
            $("#DirectiveModal1 .close-btn").click(function (e) {
                $("#DirectiveModal1").modal('hide');
            });
        });

        
    </script>

    <script>
        $('.owl-carousel').owlCarousel({
            loop: true,
            margin: 30,
            nav: true,
            autoplay: true,
            autoplayTimeout: 45000,
            autoplayHoverPause: true,
            items: 1,
        });
    </script>

    {#    <script src="{% static 'javascripts/amcharts/amcharts.js' %}"></script>#}
    {#    <script src="{% static 'javascripts/amcharts/serial.js' %}"></script>#}
    {#    <script src="{% static 'javascripts/amcharts/pie.js' %}"></script>#}
    {#    <script src="{% static 'javascripts/amcharts/contenido/ambiental.min.js' %}{{ css_js_version }}"></script>#}
{% endblock %}
