{% extends 'layouts/interior.html' %}
{% load static %}
{% block otherstyles %}

{% endblock %}

{% block wrapper %}
    <div class="content-wrap pb-0">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <p class="text-justify">
                        En Fibra Inn extendemos nuestro compromiso y responsabilidad en materia ASG en todas
                        nuestras actividades, incluyendo la cadena de suministro. Contar con una comunicación cercana y
                        transparente
                        con nuestros proveedores nos permite generar relaciones comerciales sólidas y a largo plazo que
                        constribuyen a la generación de valor compartido de manera sustentable.</p>

                    <p class="text-justify">Por lo anterior todos nuestros proveedores deben firmar nuestra política de
                        abastecimiento central al establecer una relación de negocios con nosotros
                        para el suministro de bienes y/o servicios como: alimentos, bebidas,
                        higiénicos, mantenimiento, amenidades, blancos, uniformes, entre otros. Dicha política incluye,
                        entre
                        otros
                        temas,
                        aquellos relacionados con conflictos de interés,
                        soborno y abuso de autoridad. </p>

                    <p>Para estar en línea con los objetivos de sustentabilidad, Finra Inn categoriza su cadena de
                        suministro
                        en:</p>

                    <div class="text-center">
                        <img class="img-fluid" src="{% static 'images/construccion_operacion.png' %}" width="1100"
                             height="1300" alt="">
                    </div>

                    <p class="text-justify">Para la compra de alimentos y bebidas en específico, se cumple con criterios
                        de las
                        certificaciones de
                        salud e higiene “Distintivo H” (reconocimiento otorgado por la Secretaría de Turismo y
                        Secretaría de
                        Salud,
                        a
                        aquellos
                        establecimientos fijos de alimentos y bebidas que cumplen con los estándares de higiene), y
                        “Punto Limpio” (sello de Calidad otorgado por la Secretaría de Turismo y avalada por la
                        Secretaría de
                        Salud, a las empresas que implementan la metodología desarrollada por SECTUR). </p>

                    <p class="text-justify">Además, para mejorar estas prácticas de higiene y seguridad, se implementó
                        una
                        evaluación en
                        la
                        que se consideran temas de seguridad, calidad y transparencia en
                        la adquisición, donde se califican desde malo hasta excelente, con una calificación del 0 al 5.
                        Algunos
                        criterios evaluados en estos temas son:</p>

                    <div class="text-center">
                        <img class="img-fluid" src="{% static 'images/criterios_proveedores.png' %}" width="1100"
                             height="1300" alt="">
                    </div>

                    {#            <div class="row">#}
                    {#                <div class="col-md-6">#}
                    {#                    <div class="text-center">#}
                    {#                        <img class="img-fluid" src="{% static 'images/listilla.png' %}" width="500" height="600">#}
                    {#                    </div>#}
                    {#                </div>#}
                    {#                <div class="col-md-6">#}
                    {#                    <div class="row d-flex align-items-center flex-wrap">#}
                    {##}
                    {#                        <img class="img-fluid" src="{% static 'images/cadena1.png' %}" width="900" height="1000">#}
                    {#                    </div>#}
                    {#                </div>#}
                    {#            </div>#}
                    <h1 class="text-center tc-blue">Procedimiento para la selección de proveedores</h1>
                    <ul class="nav nav-tabs d-flex flex-wrap justify-content-between" id="cadena" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active w-100" id="tab1-tab" data-toggle="tab" data-target="#tab1"
                                    type="button" role="tab" aria-controls="home" aria-selected="true">Capacitación
                            </button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link w-100" id="tab2-tab" data-toggle="tab" data-target="#tab2"
                                    type="button"
                                    role="tab" aria-controls="profile" aria-selected="false">Auditorías
                            </button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link w-100" id="tab3-tab" data-toggle="tab" data-target="#tab3"
                                    type="button"
                                    role="tab" aria-controls="contact" aria-selected="false">Desempeño
                            </button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link w-100" id="tab4-tab" data-toggle="tab" data-target="#tab4"
                                    type="button"
                                    role="tab" aria-controls="contact" aria-selected="false">Encuestas
                            </button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link w-100" id="tab5-tab" data-toggle="tab" data-target="#tab5"
                                    type="button"
                                    role="tab" aria-controls="contact" aria-selected="false">Riesgos
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="tab1" role="tabpanel" aria-labelledby="tab1-tab">
                    <div class="row">
                        <div class="col-md-5">
                            <br><br><br><br><br>
                            <p>Los proveedores reciben capacitación en temas relacionados a la categoría de sus
                                productos
                                para
                                cumplir con los estándares de la política y de las marcas hoteleras.</p>
                        </div>
                        <div class="col-md-7">
                            <div class="text-center">
                                <img class="img-fluid" src="{% static 'images/tab_capacitacion.png' %}" width="800"
                                     height="1000" alt="">
                            </div>
                        </div>
                    </div>

                </div>
                <div class="tab-pane fade" id="tab2" role="tabpanel" aria-labelledby="tab2-tab">

                    <div class="row">
                        <div class="col-md-5">
                            <br><br><br><br><br>
                            <p>El departamento de abastecimiento central realiza auditorias de verificación e inspección
                                de
                                proveedores.</p>
                        </div>
                        <div class="col-md-7">
                            <div class="text-center">
                                <img class="img-fluid" src="{% static 'images/tab_auditorias.png' %}" width="800"
                                     height="1000" alt="">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tab-pane fade" id="tab3" role="tabpanel" aria-labelledby="tab3-tab">

                    <div class="row">
                        <div class="col-md-5">
                            <br><br><br><br><br>
                            <p>Se evalúa el desempeño de los proveedores en tiempo de entrega, calidad y cumplimiento
                                regulatorio.</p>
                        </div>
                        <div class="col-md-7">
                            <div class="text-center">
                                <img class="img-fluid" src="{% static 'images/tab_desempeño.png' %}" width="800"
                                     height="1000" alt="">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tab-pane fade" id="tab4" role="tabpanel" aria-labelledby="tab4-tab">

                    <div class="row">
                        <div class="col-md-5">
                            <br><br><br><br><br>
                            <p>Se realizan encuestas aleatorias internas para medir el desempeño de los proveedores.</p>
                        </div>
                        <div class="col-md-7">
                            <div class="text-center">
                                <img class="img-fluid" src="{% static 'images/tab_encuestas.png' %}" width="800"
                                     height="1000" alt="">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tab-pane fade" id="tab5" role="tabpanel" aria-labelledby="tab5-tab">
                    <div class="row">
                        <div class="col-md-5">
                            <br><br><br><br><br>
                            <p>Los gerentes generales de cada hotel mantienen una comunicación cercana con el
                                departamento
                                de
                                abastecimiento central para gestionar riesgos con los proveedores</p>
                        </div>
                        <div class="col-md-7">
                            <div class="text-center">
                                <img class="img-fluid" src="{% static 'images/tab_riesgos.png' %}" width="800"
                                     height="1000" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <br><br>

                <div class="row">
                    <div class="col-md-5">
                        <div class="text-center">
                            <br><br>
                            <img class="img-fluid" src="{% static 'images/bullet3.png' %}" width="3000" height="3000"
                                 alt="">
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="text-center">
                            <img class="img-fluid" src="{% static 'images/cadena2.png' %}" width="700" height="800"
                                 alt="">
                        </div>
                    </div>
                </div>
                <br><br>
            </div>
        </div>
    </div>
{% endblock %}

{% block otherscripts %}
{% endblock %}
