{% extends 'layouts/interior.html' %}
{% load static %}
{% block otherstyles %}
    <link rel="stylesheet" href="/static/stylesheets/tania.css">
    <link rel="stylesheet" href="/static/stylesheets/david.css">
    <link rel="stylesheet" href="/static/stylesheets/carrousel.css">

    <style>
    h1{
        font-weight: bold;
    }
    .owl-carousel1 {
        pointer-events: none; /* Desactiva todos los eventos de mouse y touch */
    }
    .owl-carousel1 * {
        pointer-events: auto; /* Reactiva los eventos para los elementos internos */
    }
    .bienestar-bg {
    position: relative;
    background-image: url('/static/images/social/parallax_bienestar.jpg');
    background-size: cover;
    background-position: center;
    z-index: 1;
}

.bienestar-bg::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #13406B;
    opacity: .9; /* 50% */
    z-index: 2;
}

.bienestar-bg h1,
.bienestar-bg h2 {
    position: relative;
    z-index: 3;
}

    .outside-box-right {
        position: relative;
        overflow: hidden;
    }

    .outside-box-right img {
        width: 100%;
        height: auto;
        display: block;
        filter: brightness(50%); /* Esto aplica el efecto opaco */
    }

    .estra-info {
        text-align: right;
    }
</style>
    </style>

{% endblock %}

{% block wrapper %}
<div class="content-wrap">
    <div class="container">
        <div id="ppropiedades" class="">
            <div class="container-fluid">
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="grupos" role="tabpanel" aria-labelledby="grupos-tab">
                        <div id="acciones">
                            <div class=" py-5 container">
                                <h1 class="text-center" style="color: #23356B;">
                                    Our People
                                </h1>
                                <article id="carousell_book">
                                    <div class="content-wrap2">
                                        <div class="container clearfix">
                                            <div class="gtco-testimonials">
                                                <div class="owl-carousel owl-carousel1 owl-theme owl-loaded owl-drag">
                                                    <div class="owl-stage-outer">
                                                        <div class="owl-stage"
                                                             style="transition: 0.25s; width: 7200px; transform: translate3d(-2880px, 0px, 0px);">
                                                            <div class="owl-item" style="width: 360px;">
                                                                <div class="card text-center ">
                                                                    <div class=" d-flex flex-column justify-content-around align-items-center">
                                                                        <img class="img-circle"
                                                                             src="/static/images/social/icono_talento.png">
                                                                        <h5 class="text-bold" style="font-size: 26px">
                                                                            Talent as an engine of growth                                                                        </h5>
                                                                        <p class="card-text">
                                                                            At Industrial Gate, we recognize that human talent is the engine that drives our growth and success.

                                                                        </p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="owl-item" style="width: 360px;">
                                                                <div class="card text-center">
                                                                    <div class=" d-flex flex-column justify-content-around align-items-center">
                                                                        <img class="img-circle"
                                                                             src="/static/images/social/icono_entorno.png">
                                                                        <h5 class="text-bold" style="font-size: 26px">
                                                                            Inclusive and collaborative environment                                                                        </h5>
                                                                        <p class="card-text">
                                                                            We promote an inclusive and collaborative work environment that fosters a sense of belonging and the active participation of our employees.

                                                                        </p>

                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="owl-item" style="width: 360px;">
                                                                <div class="card text-center">
                                                                    <div class="d-flex flex-column justify-content-around align-items-center">
                                                                        <img class="img-circle"
                                                                             src="/static/images/social/icono_bienestar.png">
                                                                        <h5 class="text-bold" style="font-size: 26px">
                                                                            Commitment to workplace well-being                                                                        </h5>
                                                                        <p class="card-text">
                                                                            Our focus is on ensuring fair working conditions, offering development opportunities, and maintaining open communication channels that strengthen the relationship between staff and the Company.

                                                                        </p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </article>
                            </div>
                        </div>    
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="content-wrap">
    <div class="container" id="diversidad">
        <div class="py-5 container">
            <h1 class="text-center" style="color: #23356B;">
                Diversity, Equity, and Equality
            </h1>
            <p class="text-justify">We are convinced that diversity strengthens the organization and enriches our business vision. Therefore, we promote policies and practices that foster equal opportunity, respect for identity, and the inclusion of all people, regardless of their gender, age, origin, or beliefs. Our approach seeks to generate an environment free of discrimination and bias, where each individual can fully develop and contribute their maximum potential.

            </p>
            <p class="text-justify">As of the end of 2024, Industrial Gate had <strong>25 employees</strong>, of whom
                <strong>52%</strong> were male and <strong>48%</strong> were female, distributed as follows:</p>
        </div>
        <section id="sec_consumo" class="py-3">
            <div class="container-fluid">
                <div id="consumo" class="finn-counto">
                    <div class="container">
                        <div class="row honeycomb-wrapper justify-content-center">
                            <div class="col-md-6 col-lg-4 tile">
                                <div class="honeycomb">
                                    <div class="content">
                                        <img src="/static/images/social/icono_hombres.png" alt="" style="width: 90px;">
                                        <h2 class="count" data-speed="1500" data-to="18" data-in-viewport="yes"
                                            data-decimals="0">13</h2><span class="title-effect "></span>
                                    </div>
                                </div>
                                <h5><b>Men</b></h5>
                            </div>
                            <div class="col-md-6 col-lg-4 tile">
                                <div class="honeycomb">
                                    <div class="content">
                                        <img src="/static/images/social/icono_mujeres.png" alt="" style="width: 90px;">
                                        <h2 class="count" data-speed="1500" data-to="12" data-in-viewport="yes"
                                            data-decimals="0">12</h2><span class="title-effect "></span>
                                    </div>
                                </div>
                                <h5><b>Women</b></h5><br>
                            </div>
                            <div class="col-md-6 col-lg-4 tile">
                                <div class="honeycomb">
                                    <div class="content">
                                        <img src="/static/images/social/icono_ambos.png" alt="">
                                        <h2 class="count" data-speed="1500" data-to="30" data-in-viewport="yes"
                                            data-decimals="0">30</h2><span class="title-effect "></span>
                                    </div>
                                </div>
                                <h5><b>Total</b><br></h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
<section id="bienestar" class="container-fluid">
    <div class="row">
        <div class="col-md-12 mb-12 p-5 bienestar-bg">
            <h1 class="text-center text-white">Training and Development</h1>
            <h2 class="text-center text-white">
                We consider continuous training key to strengthening the technical and personal competencies of our team. At Industrial Gate, we develop and promote training programs focused on the specific needs of each area, with the goal of enhancing skills, improving performance, and ensuring that our staff has the necessary tools to face the challenges of the industrial real estate sector.
            </h2>
        </div>
    </div>
</section>
    <section class="bg-gray-fmty estrategia" id="cultura">
        <div class="container-fluid container-relative">
            <div class="row align-items-center justify-content-center preguntas-finales">
                <div class="col-12 col-xl-5 col-lg-6 col-md-10 padding-6-rem-tb lg-padding-5-rem-tb lg-padding-2-half-rem-right md-padding-15px-right md-no-padding-tb md-margin-5-rem-bottom" style="margin: auto;">
                    <h1 class="mt-5 mt-lg-0 alt-font font-weight-500 texto-cenizo letter-spacing-minus-1px margin-4-half-rem-bottom md-margin-4-rem-bottom lg-margin-2-half-rem-bottom md-w-100 text-center" style="color: #23356B;">
                        Health and Safety at Industrial Gate
                    </h1>
                    <div class="panel-group accordion-event accordion-style-03 margin-4-rem-bottom lg-margin-2-rem-bottom text">
                        <div data-item="primero"
                             class="estra-link panel box-shadow-small border-radius-5px wow animate__fadeInUp animated active"
                             data-wow-delay="0.6s" style="visibility: visible; animation-delay: 0.6s;">
                            <div class="panel-heading">
                                <div class="boton-info1">
                                    <span>Safe Work Environment</span>
                                    <i class="indicator fa fa-angle-right text-tussock icon-extra-small"></i>
                                </div>
                            </div>
                        </div>
                        <div data-item="segundo"
                             class="estra-link panel box-shadow-small border-radius-5px wow animate__fadeInUp animated"
                             data-wow-delay="0.6s" style="visibility: visible; animation-delay: 0.6s;">
                            <div class="panel-heading">
                                <div class="boton-info1">
                                    <span>Prevention and Regulatory Compliance</span>
                                    <i class="indicator fa fa-angle-right text-tussock icon-extra-small"></i>
                                </div>
                            </div>
                        </div>
                        <div data-item="tercero"
                             class="estra-link panel box-shadow-small border-radius-5px wow animate__fadeInUp animated"
                             data-wow-delay="0.6s" style="visibility: visible; animation-delay: 0.6s;">
                            <div class="panel-heading">
                                <div class="boton-info1">
                                    <span>Safety Training</span>
                                    <i class="indicator fa fa-angle-right text-tussock icon-extra-small"></i>
                                </div>
                            </div>
                        </div>
                        <div data-item="cuarto"
                             class="estra-link panel box-shadow-small border-radius-5px wow animate__fadeInUp animated"
                             data-wow-delay="0.6s" style="visibility: visible; animation-delay: 0.6s;">
                            <div class="panel-heading">
                                <div class="boton-info1">
                                    <span>Promotion of Comprehensive Health</span>
                                    <i class="indicator fa fa-angle-right text-tussock icon-extra-small"></i>
                                </div>
                            </div>
                        </div>
                        <div data-item="quinto"
                             class="estra-link panel box-shadow-small border-radius-5px wow animate__fadeInUp animated"
                             data-wow-delay="0.6s" style="visibility: visible; animation-delay: 0.6s;">
                            <div class="panel-heading">
                                <div class="boton-info1">
                                    <span>Evaluation and Continuous Improvement</span>
                                    <i class="indicator fa fa-angle-right text-tussock icon-extra-small"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-6 col-md-10 estra-item primero"
                     style="visibility: visible; animation-name: fadeInRight; padding: 0;">
                    <div class="outside-box-right position-relative">
                        <img src="/static/images/social/entorno-seguro.jpg" class="overflow-hidden">
                        <div class="estra-info">
                            <p class="font">At Industrial Gate, we prioritize the physical integrity and well-being of all our employees. We implement clear protocols for prevention and incident response, ensuring that our operations take place in a safe and controlled environment.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-6 col-md-10 estra-item segundo d-none"
                     style="visibility: visible; animation-name: fadeInRight; padding: 0;">
                    <div class="outside-box-right position-relative">
                        <img src="/static/images/social/cumplimiento-normativo.jpg" class="overflow-hidden">
                        <div class="estra-info">
                            <p class="font">We ensure that all our labor practices comply with current regulations regarding health and safety. This includes continuous risk assessment and the adoption of preventive measures to minimize any potential incident.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-6 col-md-10 estra-item tercero d-none"
                     style="visibility: visible; animation-name: fadeInRight; padding: 0;">
                    <div class="outside-box-right position-relative">
                        <img src="/static/images/social/capacitacion-seguridad.jpg" class="overflow-hidden">
                        <div class="estra-info">
                            <p class="font">We foster a preventive culture through periodic training programs, where our staff acquires practical knowledge to act safely in their work area and respond appropriately in emergency situations.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-6 col-md-10 estra-item cuarto d-none"
                     style="visibility: visible; animation-name: fadeInRight; padding: 0;">
                    <div class="outside-box-right position-relative">
                        <img src="/static/images/social/promocion-salud.jpg" class="overflow-hidden">
                        <div class="estra-info">
                            <p class="font">In addition to physical safety, we promote comprehensive well-being through initiatives that encourage healthy habits, emotional care, and work-life balance.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-6 col-md-10 estra-item quinto d-none"
                     style="visibility: visible; animation-name: fadeInRight; padding: 0;">
                    <div class="outside-box-right position-relative">
                        <img src="/static/images/social/mejora-continua.jpg" class="overflow-hidden">
                        <div class="estra-info">
                            <p class="font">We maintain a monitoring and evaluation system that allows us to identify opportunities for improvement in our health and safety policies and practices, ensuring their effectiveness and constant updating.
                            </p>
                        </div>
                </div>
            </div>
        </div>
    </section>
    <section class="bg-gray-fmty gestion pb-4" id="n-gestion">
        <div class="container-fluid container-relative">
            <div class=" py-5 container">
                <h1 class="text-center" style="color: #23356B;">
                    Health and Safety Risk Management
                </h1>
            </div>
        </div>
    </section>
    <section id="integracion" class="container-fluid">
            <div class="row" >
                <div class="col-md-4 d-flex justify-content-center align-items-center "
                     style="background-image: url({% static 'images/social/estudios_riesgos.png' %});">
                    <div class="layer"></div>
                    <h2 class="text-center text-white font-weight-bold">We boost the economy of the communities where we operate, prioritizing the hiring of local suppliers and services, which generates employment and strengthens regional economic activity.
                    </h2>
                </div>
                <div class="col-md-4  d-flex justify-content-center align-items-center "
                     style="background-image: url({% static 'images/social/colaboradores_posibilidad.png' %});">
                    <div class="layer"></div>
                    <h2 class="text-center text-white font-weight-bold">We support initiatives focused on environmental care, ensuring that our social impact is positive and contributes to sustainable development.
                    </h2>
                </div>
                <div class="col-md-4  d-flex justify-content-center align-items-center "
                     style="background-image: url({% static 'images/social/cydsa_recibio.png' %});">
                    <div class="layer"></div>
                        <h2 class="text-center text-white font-weight-bold">We maintain constant communication with authorities to identify needs and cooperation opportunities that benefit both the community and our operation.
                    </h2>
                </div>
            </div>
        </section>
        
    
    
    
    


{% endblock %}

{% block otherscripts %}
    <script src="{% static 'javascripts/js/jquery.js' %}"></script>
    <script src="{% static 'javascripts/js/plugins.js' %}"></script>
    <script src="{% static 'javascripts/js/functions.min.js' %}"></script>
    <script src="{% static 'javascripts/jquery.waypoints.min.js' %}"></script>
    <script src="{% static 'javascripts/countTo.js' %}"></script>
    <script src="{% static 'javascripts/owl.carousel.min.js' %}"></script>
    
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const fragment = window.location.hash;

            if (fragment.includes("tab=")) {
                const tabId = fragment.split("tab=")[1];

                $('#myTab a[href="#' + tabId + '"]').tab('show');

                $('html, body').animate({
                    scrollTop: $("#ppropiedades").offset().top
                }, 500, function () {
                    setTimeout(function () {
                        $('#myTab a[href="#' + tabId + '"]').tab('show');
                    }, 100);
                });
            }
        });

        $(".owl-carousel1").owlCarousel({
            loop: false, // Deshabilita el bucle
            center: false,
            margin: 0,
            responsiveClass: true,
            nav: false, 
            drag: false,
            touchDrag: false, 
            mouseDrag: false, 
            pullDrag: false, 
            freeDrag: false, 
            responsive: {
                0: {
                    items: 1,
                    nav: false
                },
                680: {
                    items: 1,
                    nav: false,
                    loop: false 
                },
                1000: {
                    items: 3,
                    nav: false 
                }
            },
            onInitialized: removeBlurEffect,
            onTranslated: removeBlurEffect
        });

        // Deshabilitar el desplazamiento manual
        $(".owl-carousel1").on('drag.owl.carousel', function (e) {
            e.preventDefault();
        });
        $(".owl-carousel1").on('mousewheel.owl.carousel', function (e) {
            e.preventDefault();
        });

        function removeBlurEffect() {
            // Remueve cualquier clase que aplique opacidad
            $(".owl-item").removeClass("blurred");
            $(".owl-item").css("opacity", "1");
            $(".owl-item").css("transform", "scale(1)");
        }

        var counter = 1,
            interval = setInterval(function () {
                var elemento = $("#n-estrategia").find(".estra-link ")[counter];
                $(elemento).click();
                if (counter === 3) {
                    counter = 0;
                } else {
                    counter++;
                }
            }, 20000);
        $('#n-estrategia .outside-box-right').mouseover(function () {
            clearInterval(interval)
        });

        $('#n-estrategia .outside-box-right').mouseleave(function () {
            interval = setInterval(function () {
                var elemento = $("#n-estrategia").find(".estra-link")[counter];
                $(elemento).click();
                if (counter === 3) {
                    counter = 0;
                } else {
                    counter++;
                }
            }, 20000)
        });

        $(".estra-link").on('click', function (event) {
            var $this = $(this);
            var item = $this.data('item');
            $(".estra-item").addClass('d-none');
            $(".estra-link").removeClass('active');
            $this.addClass('active');
            $('.estra-item.' + item).removeClass("d-none");
        });
        
        $(window).on('load', function () {
            new WOW().init();
            $('.finn-counto').each(function () {
                finn_waypoint('#' + $(this).attr('id'));
                finn_counto('#' + $(this).attr('id'));
            });
            
        });

        function finn_waypoint(elemento) {
            var waypoint = new Waypoint({
                element: $(elemento),
                handler: function (direction) {
                    $(elemento + ' .count').trigger('on-appear');
                },
                offset: '75%',
                triggerOnce: true
            })
        }

        function finn_counto(elemento) {
            if ($().countTo) {
                $(elemento + ' .count').on('on-appear', function () {
                    $(elemento + ' .honeycomb-path.honeycomb-1').addClass('honeycomb-animated');

                    $(this).each(function () {
                        var to = parseFloat($(this).data('to')),
                            speed = parseInt($(this).data('speed')),
                            decimals = parseInt($(this).data('decimals'));

                        $(this).countTo({
                            to: to,
                            speen: speed,
                            decimals: decimals,
                            formatter: function (value, options) {
                                return value.toFixed(options.decimals).replace(/\B(?=(?:\d{3})+(?!\d))/g, ',');
                            },
                            onComplete: function (value) {
                                
                                
                                return this.innerHTML;
                            }

                        });
                    });
                }); //counter
            }
        }
    </script>
{% endblock %}
